@import "__button/button";
@import "__text/text";
.editable_text {
  background: white;
  align-content: center;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.editable_text div {
  border-radius: 5px;
}