{% from "components/dropdown_button.html" import dropdown_button_html, dropdown_button_css, dropdown_button_js %}
{% macro horizontal_nav_css() %}
    {{ dropdown_button_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components/horizontal_nav.css') }}">
{% endmacro %}

{% macro horizontal_nav_js() %}
    {{ dropdown_button_js() }}
{% endmacro %}

{% macro horizontal_nav_html(data, class="") %}
    <div class={{ "horizontal_nav " + class}}>
        {% for key, list_type, values in data %}
            {% if list_type %}
                {{ dropdown_button_html(key, values, class="horizontal_nav__element") }}
            {% else %}
                <div class="horizontal_nav__element">
                    <a href="{{ values }}">
                        {{ key }}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}