site/.prec
site/admin_doc/.prec/*
site/doc/html
site/Content/cms/pages/*
site/Content/tags/*
#*-version-* -- set more precise match.
*-diff-*
*~
site/fizlesh.ru-content/*
site/settings.php
site/install.php
site/engine.log
