site/xengine
deploy-tools
.idea
site/.prec
site/admin_doc/.prec/*
site/doc/html
site/Content/cms/pages/*
site/Content/tags/*
*-version-[0-9][0-9]*.gz
*~
site/fizlesh.ru-content/*
site/settings.php
site/install.php
site/engine.log
*.pyc
tests/contest-work-sample.png
tests/current-page.html
tools/optimize-images/oim
*.sublime-project
*.sublime-workspace
fizlesh.sqlite3
