.course_card {
  background: rgba(0, 0, 0, 0.1);
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}