span.adminSectionCaption {
    font-weight: bold;
    padding-left: 2px;
}

img.preview  {
    padding: 2px;
    padding-right: 4px;
    border: 0px;
}

input.meta {
    width: 800px;
}

div.metaDesc {
    font-size: 8pt;
    width: 800px;
    margin-bottom: 10px;
}

span.authCaption {
    font-weight: bold;
    display: inline-block;
    width: 7em;
}
