span.adminSectionCaption {
  font-weight: bold;
  padding-left: 2px;
}

img.preview  {
  padding: 2px;
  padding-right: 4px;
  border: 0px;
}

a.linkButton {
  font-size: 12pt;
  line-height: 16pt;
  text-decoration: none;
  display: inline-block;
  margin: 1px 0px 3px 1px;
  border: 1px solid #003f00;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #8ea76b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input.meta {
  width: 800px;
}

div.metaDesc {
  font-size: 8pt;
  width: 800px;
  margin-bottom: 10px;
}

span.authCaption {
  font-weight: bold;
  display: inline-block;
  width: 7em;
}

/* for anketas list */
table.ankList {
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  border: 0px solid #8faf6f;
  font-size: 9pt;
}

td.ankListRowDiv {
  height: 8px;
}

td.ankListRowTitle {
  vertical-align: middle;
  background-color: #9fdf8f;
  border: 1px solid #8faf6f;
  padding: 3px;
}

td.ankListField {
  border: 1px solid #8faf6f;
  padding: 3px;
  font-weight: bold;
}

td.ankListValue {
  border: 1px solid #8faf6f;
  padding: 3px;
}