/* CSS for anketa manager: view/edit */

table.ankList {
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  border: 0px solid #8faf6f;
  font-size: 9pt;
}

td.ankListRowDiv {
  height: 8px;
}

td.ankListRowTitle {
  vertical-align: middle;
  background-color: #9fdf8f;
  border: 1px solid #8faf6f;
  padding: 3px;
}

td.ankList {
  border: 1px solid #8faf6f;
  padding: 3px;
}

td.ankList.notes {
  background-color: #85cf6f;
}

span.ankListField {
  font-weight: bold;
}

span.ankEditField {
  font-weight: bold;
  display: inline-block;
  width: 20%;
}

input.ankEdit {
  width: 75%;
}

textarea.ankEdit {
  width: 75%;
  height: 72px;
}

input[readonly='readonly'] {
  background-color: #ddeedd;
}

table.ankEdit {
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  border: 0px solid #8faf6f;
  font-size: 9pt;
}

span.ankStatus {
  font-weight: bold;
}

span.ankStatus.new {
  color: #ffff00;
}

span.ankStatus.progress {
  color: #9f7f00;
}

span.ankStatus.processed {
  color: #008f00;
}

span.ankStatus.declined {
  color: #7f7f7f;
}

span.ankStatus.cont {
  color: #006f00;
}

span.ankStatus.old {
  color: #3f3faf;
}

span.ankStatus.duplicate {
  color: #ff7f50;
}

span.ankStatus.spam {
  color: #ff0000;
}

ul.ankList {
  margin-left: 3px;
  margin-bottom: 0px;
  margin-top: 0px;
}

img.edit-icon {
    vertical-align: middle;
    margin-right: 2px;
}

.ankEdit.checkbox {
  width: 16px;
}

.linkButton.xsm {
  height: 20px;
  line-height: 20px;
  vertical-align: bottom;
}