table.ankList {
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    border: 0px solid #8faf6f;
    font-size: 9pt;
    margin-bottom: 10px;
}

td.ankListRowDiv {
    height: 8px;
}

td.ankListRowTitle, th.ankList, td.ankList {
    vertical-align: middle;
    border: 1px solid #8faf6f;
    padding: 3px;
    padding-left: 5px;
}

td.ankList, th.ankList {
    text-align: left;
}

td.ankList.c {
    text-align: center;
}

td.ankListRowTitle, th.ankList {
    background-color: #9fdf8f;
}

td.school-selection {
    vertical-align: middle;
    background-color: #9fdf8f;
    border: 1px solid #8faf6f;
    padding: 3px;
}

td.school-selection.current {
    background-color: #ffee99;
}

td.school-selection a {
    text-align: center;
    display: block;
}

tr.teacher td.ankList,
b.teacher {
    background-color: #b5b16f;
}

tr.teacher a {
    color: #004f00;
}

tr.not-msk-city td.ankList,
b.not-msk-city {
    background-color: #7fffaf;
}

tr.far-city td.ankList,
b.far-city {
    background-color: #7fcfff;
}

b.far-city,
b.not-msk-city,
b.teacher {
    padding: 1px 3px 1px 3px;
}

span.ankListField {
    font-weight: bold;
}

span.ankListField.next {
    padding-left: 10px;
}

span.ankEditField {
    font-weight: bold;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

span.ankEditField.mid {
    vertical-align: middle;
}

span.ank-edit-item {
    font-weight: normal;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

span.ank-edit-item.action {
    font-weight: bold;
}

input.ankEdit {
    width: 75%;
}

input.ankEdit.filter {
    width: 200px;
}

textarea.ankEdit {
    width: 75%;
    height: 72px;
}

input[readonly='readonly'] {
    background-color: #cceeaa;
}

table.ankEdit {
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    border: 0px solid #8faf6f;
    font-size: 9pt;
}

a.link-button.ank {
    vertical-align: middle;
}

/* forest status */

td.ankList.c {
    text-align: center;
}

span.forest-status {
    font-weight: bold;
}
span.forest-status.undef {
    color: #7f7f7f;
}
span.forest-status.notable {
    color: #ff0000;
}
span.forest-status.no {
    color: #7f0000;
}
span.forest-status.maybe {
    color: #0000ff;
}
span.forest-status.able {
    color: #009f00;
}
span.forest-status.yes {
    color: #007f00;
}

/* anketa status */

span.anketa-status {
    font-weight: bold;
}

span.anketa-status.new {
    color: #ffff00;
}

span.anketa-status.progress {
    color: #7f007f;
}

span.anketa-status.less {
    color: #2f2faf;
}

span.anketa-status.processed {
    color: #008f00;
}

span.anketa-status.nextyear {
    color: #9f5f5f;
}

span.anketa-status.declined {
    color: #7f7f7f;
}

span.anketa-status.cont {
    color: #006f00;
}

span.anketa-status.old {
    color: #000000;
}

span.anketa-status.duplicate {
    color: #ff7f50;
}

span.anketa-status.spam {
    color: #ff0000;
}

span.exam-status {
    font-weight: bold;
}

span.exam-status.passed {
    color: #008f00;
}

span.exam-status.notpassed {
    color: #ff0000;
}

span.exam-status.almost {
    color: #ffff00;
}

span.exam-status.almost {
    color: #0000ff;
}

img.edit-icon {
    vertical-align: middle;
    margin-right: 2px;
}

.ankEdit.checkbox {
    width: 16px;
}

input.delete-button {
    margin-top: 5px;
    background-color: #ff9f7f;
    color: #2f2f00;
    background-image: url('pic/delete.gif');
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: 2px 50%;
}

input.delete-button.item {
    margin-top: 1px;
    margin-bottom: 1px;
}

div.delete-warning {
    font-size: 11pt;
    color: #9f0000;
}

.link-oper {
    margin-left: 10px;
}

.link-oper-list {
    margin-right: 10px;
}

span.link-oper-list {
    border-bottom: 1px dotted black;
}

div.person-portrait {
    display: inline-block;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

img.person-portrait {
    width: 50px;
    border: 1px solid #8faf6f;
}

div.person-title {
    font-size: 14pt;
    font-weight: bold;
}

span.person-key {
    font-weight: bold;
    display: inline-block;
}

span.person-key.top {
    width: 100px;
}

span.person-key.main {
    width: 170px;
}

span.person-value {
    font-weight: normal;
}

div.person-topleft {
    width: 60%;
    float: left;
}

div.person-topright {
    float: right;
    width: 35%;
}

div.line {
    padding-top: 5px;
    padding-bottom: 5px;
}

span.course-progress {
    font-weight: bold;
}
span.course-progress.undef {
    color: #7f7f7f;
}
span.course-progress.low {
    color: #cf0000;
}
span.course-progress.medium {
    color: #9f6f00;
}
span.course-progress.high {
    color: #0f7f00;
}
span.course-progress.all {
    color: #5f5f5f;
}

a.popup-link {
    text-decoration: none;
    border-bottom: 1px dotted;
}

span.present {
    float: right;
    margin-right: 3px;
    font-weight: bold;
}

col.id {
    width: 35px;
}

col.ank-status {
    width: 90px;
}

div.help-widget {
    border: 1px solid #005f00;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    position: absolute;
    width: 600px;
    top: 20px;
    right: -5px;
    background-color: rgb(187, 213, 175);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div.xsm-navbar {
    width: 100%;
    margin-bottom: 10px;
}

a.xsm-menu-item {
    vertical-align: middle;
    background-color: rgb(202, 235, 98);
    border: 1px solid #8faf6f;
    border-left: none;
    padding: 3px;
    width: 15%;
    text-align: center;
    display: inline-block;
}

a.xsm-menu-item.first {
    border-left: 1px solid #8faf6f;
}

a.xsm-menu-item.current {
    background-color: #ffee99;
}