html {
  height: 100%;
}

body {
    background-color: #c0d2ab;
    background-image: url("pic/cells.png");
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 10pt;
}

table {
    font-size: 10pt;
}

div.monospace-outer {
    border-left: 1mm solid green;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.monospace-inner {
    font-family: monospace;
    margin-left: 4mm;
}

/* very common and simple rule */
/* all exceptions should be handled separately */
a img {
  border: 0px;
}

.roundBorders {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.topTable {
  background-image: url("pic/grass-formulas.jpg");
  height: 100px;
  width: 100%;
  margin-bottom: 3px;
}

.bottomTable {
  width: 100%;
}

.logoCell {
  text-align: center;
  vertical-align: top;
  padding-top: 20px;
}

.mainField {
  background-color: #9ec78b;
  vertical-align: top;
  padding: 20px;
}

#fullHeight {
  padding-bottom: 6px;
  border: none;
  text-align: center;
}

p {
  font-size: 10pt;
  text-align: justify;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  text-indent: 5mm;
  margin-top: 3pt;
  margin-bottom: 0px;
}
p.text_line {
  text-indent: 5mm;
}
li {
  font-size: 10pt;
  text-align: justify;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}
h1 {
  font-size: 26pt;
  font-weight: normal;
  text-indent: 0mm;
}
h2 {
  font-size: 15pt;
  font-weight: bold;
  text-indent: 5mm;
  margin-top: 10pt;
  margin-bottom: 3pt;
}
h3 {
  font: normal normal 12pt/12pt sans-serif;
  color: #000020;
  font-weight: bold;
  text-indent: 5mm;
  margin-top: 10pt;
  margin-bottom: 3pt;
}
h4 {
  font: normal normal 12pt/12pt sans-serif;
  color:#000020;
  text-indent: 5mm;
  margin-top: 10pt;
  margin-bottom: 3pt;
}

/* TODO: eliminate, used in photoalbum only */
.extern_link {
  font: normal normal 12pt/12pt sans-serif;
  color:#000020;
  text-indent: 5mm;
  margin-top: 3pt;
  margin-bottom: 0pt;
}

a, a:link {
  color: #cf5612;
}
a:visited {
  color: #854310;
}
a:hover {
  color: #d47f18;
}
a:active {
  color: #d47f18;
}

a.stealthLink {
  color: #b5c9a1;
}
a.stealthLink:hover {
  color: #a24f0c;
}

.photo-name {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: bolder;
  margin-left: 2ex;
}

textarea, input {
  border: 1px solid #003f00;
  background-color: #eeffee;
  padding-left: 2px;
  padding-right: 2px;
  margin: 1px;
}

input[type='submit'] {
  border: 2px solid #003f00;
  background-color: #8ea76b;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 0px;
}

select {
  border: 1px solid #8faf6f;
  background-color: #eeffee;
  margin-left: 0px;
}

/* email alignment */
img.email {
  vertical-align: -4px;
}

input[name='menu-text'] {
  width: 300px;
}

span.ankLabel {
  font-size: 10pt;
  font-weight: bold;
  display: inline-block;
  width: 370px;
}

div.ankLegend {
  float: right;
  display: inline-block;
  width: 30%;
  border: 1px solid #003f00;
  background-color: #aed79b;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  font-size: 10pt;
  margin-left: 20px;
}

div.ankRow {
  white-space: nowrap;
}

div.ankExample {
  font-size: 8pt;
  padding-left: 380px;
  padding-bottom: 3pt;
}

span.ankAst {
  color: #ff0000;
  font-weight: bold;
  font-size: 10pt;
}

span.ankAst {
  font-weight: bold;
  font-size: 10pt;
  vertical-align: middle;
}
span.ankAst.Req {
  color: #ff000;
}
span.ankAst.Gr {
  color: #cf7f00;
}
span.ankAst.Rec {
  color: #e0f2dd;
}

a.leshLogoTitle {
  position: absolute;
  right: 7px;
  bottom: 5px;
}

div.ankError {
  color: #9f0000;
  font-size: 9pt;
  padding: 3px;
}

div.ankWarning {
  color: #003f00;
  font-size: 9pt;
  padding: 3px;
}

div.ankMessageFrame {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #003f00;
  background-color: #aed79b;
  display: none;
}

ul.ankList {
  margin-left: 3px;
  margin-bottom: 0px;
  margin-top: 0px;
}
