html {
    height: 100%;
}

body {
    background-color: #c0d2ab;
    background-image: url("pic/cells.png");
    font-family: Tahoma, Verdana, Arial, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    font-size: 10pt;
    color: #203720;
}

table {
    font-size: 10pt;
    color: #203720;
}

div.monospace-outer {
    border-left: 1mm solid green;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.monospace-inner {
    font-family: monospace;
    margin-left: 4mm;
}

/* very common and simple rule */
/* all exceptions should be handled separately */
a img {
    border: 0px;
}

.roundBorders {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.topTable {
    background-image: url("pic/grass-formulas.jpg");
    height: 100px;
    width: 100%;
    margin-bottom: 3px;
    padding: 0px;
    border-spacing: 0px;
}

.bottomTable {
    width: 100%;
    padding: 0px;
    border-spacing: 0px;
}

.logoCell {
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
}

.main-field {
    background-image: none;
    background-color: #9ec78b;
    vertical-align: top;
    padding: 20px;
}

#fullHeight {
    padding-bottom: 6px;
    border: none;
    /* Wonderful hack by http://www.vanseodesign.com/css/2-column-layout-code/ */
    margin: 0px auto;
    width: 1024px;
}

p {
    font-size: 10pt;
    text-align: justify;
    padding: 0px;
    text-decoration: none;
    text-indent: 5mm;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #203720;
}
ol, ul {
    margin-left: 5mm;
}

li {
    font-size: 10pt;
    color: #203720;
    text-align: justify;
    padding: 0px;
    text-decoration: none;
}
h1 {
    font-family: Tahoma, Verdana, Arial, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    font-size: 15pt;
    color: #203720;
    font-weight: bold;
    text-indent: 5mm;
    margin-top: 10pt;
    margin-bottom: 3pt;
}
h2 {
    font: normal normal 12pt/12pt Tahoma, Verdana, Arial, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    color: #203720;
    font-weight: bold;
    text-indent: 5mm;
    margin-top: 10pt;
    line-height: 26px;
    margin-bottom: 3pt;
}
h3 {
    font: normal normal 11pt/11pt Tahoma, Verdana, Arial, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    color: #203720;
    font-weight: bold;
    text-indent: 5mm;
    margin-top: 8pt;
    margin-bottom: 2pt;
}
h4 {
    font: normal normal 10pt/10pt Tahoma, Verdana, Arial, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    color: #203720;
    text-indent: 5mm;
    margin-top: 6pt;
    margin-bottom: 2pt;
}

a, a:link {
    color: #cf5612;
}
a:visited {
    color: #854310;
}
a:hover {
    color: #d47f18;
}
a:active {
    color: #d47f18;
}

a.stealthLink {
    color: #b5c9a1;
}
a.stealthLink:hover {
    color: #a24f0c;
}

textarea, input {
    border: 1px solid #8faf6f;
    background-color: #eeffee;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
}

input[type='submit'] {
    border: 1px solid #6f8f4f;
    background-color: #8ea76b;
    color: #854310;
    border-radius: 5px;
    font-size: 12pt;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 0px;
}

select {
    border: 1px solid #8faf6f;
    background-color: #eeffee;
    margin-left: 0px;
}

/* email alignment */
img.email {
    vertical-align: -4px;
}

input[name='menu-text'] {
    width: 300px;
}

a.leshLogoTitle {
    position: absolute;
    right: 7px;
    bottom: 5px;
}

a.link-button {
    font-size: 12pt;
    height: 22px;
    line-height: 25px;
    text-decoration: none;
    vertical-align: bottom;
    display: inline-block;
    margin: 1px 0px 3px 1px;
    border: 1px solid #6f8f4f;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #8ea76b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

span.site-version {
    color: #888888;
}

a.content-edit {
    position: absolute;
    right: 0px;
    top: 0px;
}

a.contlist-edit {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
}

div.contlist-block {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 3px;
}

div.contlist-block.even {
    background-color: #8db67a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div.contlist-block.odd {
    background-color: #9ec78b;
}

table.contest-results {
    border: 1px solid rgb(148, 167, 123);
    border-collapse: collapse;
}

table.contest-results th {
    font-weight: bold;
    border: 1px solid rgb(148, 167, 123);
    padding: 3px 5px 3px 5px;
}

table.contest-results td {
    padding: 3px 5px 3px 5px;
    border: 1px solid rgb(148, 167, 123);
}

table.contest-results td.sum {
    text-align: center;
}

a.top-icon {
    position: absolute;
    z-index: 2;
    text-indent: -9999px;
}

