.menu-field {
    vertical-align: top;
}

.menu-width {
    width: 20%;
}

.menu-passive-level1 {
    background-color: #85b769;
}
.menu-passive-level2 {
    background-color: #709e5f;
}
.menu-passive-level3 {
    background-color: #5c904e;
}

.menu-active-level1 {
    background-color: #506f3a;
    font-weight: bold;
}
.menu-active-level2 {
    background-color: #305c25;
    font-weight: bold;
}
.menu-active-level3 {
    background-color: #1c391e;
    font-weight: bold;
}

.menu-level1 {
    padding-left: 3pt;
}
.menu-level2 {
    padding-left: 15pt;
}
.menu-level3 {
    padding-left: 27pt;
}

a.menu-item {
    font-size: 12pt;
    line-height: 16pt;
    text-decoration: none;
    display: block;
    margin-left: 0px;
    margin-right: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a.menu-sys {
    padding-left: 3px;
    background-color: #a5b991;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a.menu-active:link {
    color: #d0e2bb;
}
a.menu-active:visited {
    color: #d0e2bb;
}
a.menu-active:hover {
    color: #000000;
    background-color: #a7ce1e;
}
a.menu-active:active {
    color: #000000;
}

a.menu-passive:link {
    color: #000000;
}
a.menu-passive:visited {
    color: #000000;
}
a.menu-passive:hover {
    color: #000000;
    background-color: #a7ce1e;
}
a.menu-passive:active {
    color: #000000;
}

a.menuitem-auth {
    background-color: #a5b991 !important;
}

