.newstitle {
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: bolder;
    text-indent: 5mm;
    margin-top: 10pt;
    margin-bottom: 3pt;
}

.signature {
    font-size: 10pt;
    font-style: italic;
    text-align: right;
    margin-right: 20px;
}

div.news-block {
    padding: 10px;
    border-radius: 5px;
}

div.news-block.even {
    background-color: #9ec78b;
}

div.news-block.odd {
    background-color: #8db67a;
}