@import "__input/index.scss";
@import "__display-name/index.scss";
@import "__horizontal-spacer/index.scss";

div.inputs {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  padding-bottom: 4px;
  --padding: 5px
}

textarea.inputs {
  border: 1px solid yellowgreen;
  width: 100%;
  min-height: 150px;
  outline: none;
}
