<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body style="font-family: Arial, Sans-Serif;">
        @@REPLY-LINK@
        <table style="border-spacing: 0px; padding: 0px; border: 1px solid #7f7f7f;
            border-collapse: collapse; table-layout: fixed; width: 100%;">
            <tr>
                <td colspan="2" style="border: 1px solid #7f7f7f; padding: 3px; font-weight: bold;">@@TABLE-TITLE@</td>
            </tr>
            @@TABLE-CONTENT@
        </table>
        <hr />
        <table>
            <tr><td>Имя веб-сервера</td><td style="font-weight: bold;">@@HOST@</td></tr>
        </table>
    </body>
</html>
