<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body style="font-family: Arial, Sans-Serif;">
        <table cellspacing="0" padding="0"
            style="border: 1px solid #7f7f7f; border-collapse: collapse; table-layout: fixed; width: 100%;">
            <tr>
                <td colspan="2" style="border: 1px solid #7f7f7f; padding: 3px; font-weight: bold;">Анкета от @@DATE@</td>
            </tr>
            @@TABLE-CONTENT@
        </table>
    </body>
</html>
