<div style="font-weight: bold">
    Пользователь <span style="color: green">@@LOGIN@ (@@REAL-NAME@)</span> поменял страницу
    <a href="@@PAGE-URL@">@@PAGE-ALIAS@</a>.
    Физический путь страницы:
    <span style="font-family: Monospace; color: blue; font-size: 8pt;">@@PAGE-ID@</span>.
    Изменения:
</div>
@@DIFF@
<!--
<div style="font-weight: bold">Теперь содержание страницы следующее:</div>
<div style="background-color: #eeeeee; padding: 7px;">
    <pre style="line-height: 9pt; font-size: 8pt;">@@NEW-TEXT@</pre>
</div>
-->