<table style="border-spacing: 0px; padding: 0px; border: 1px solid #7f7f7f;
    border-collapse: collapse; table-layout: fixed; width: 100%;">
    <col width="30" />
    <col width="70" />
    <tr>
        <td colspan="2"
            style="border: 1px solid #7f7f7f; padding: 3px; font-weight: bold;">Новое поступление Contest</td>
    </tr>
    <tr>
        <td style="border: 1px solid #7f7f7f; padding: 3px; font-weight: bold;">EMail</td>
        <td style="border: 1px solid #7f7f7f; padding: 3px;">@@MAIL@</td>
    </tr>
    <tr>
        <td style="border: 1px solid #7f7f7f; padding: 3px; font-weight: bold;">Отправитель</td>
        <td style="border: 1px solid #7f7f7f; padding: 3px;">@@SENDER@</td>
    </tr>
    <tr>
        <td style="border: 1px solid #7f7f7f; padding: 3px; font-weight: bold;">Время отправления</td>
        <td style="border: 1px solid #7f7f7f; padding: 3px;">@@TIMESTAMP@</td>
    </tr>
</table>
