<p>Здравствуйте!</p>

<p>Вы оставили заявку на участие в Медицинской олимпиаде ЛЭШ-2018.
Олимпиада начнётся 12 февраля: в этот день на указанную в анкете почту придёт письмо с заданием и регламентом. Дата окончания заочного тура - 11 марта.</p>

<p>Прошедшие письменный тур будут пригашены на устное испытание. Для школьников Москвы и Московской области оно проводится очно,
для школьников других городов - по скайпу. Дата устного тура будет сообщена позже.
</p>

<p>По всем вопросам пишите на почту Медицинского отделения ЛЭШ: <b>medolesh.org@gmail.com</b></p>

<p>До 12 февраля!</p>

<p>Группа МедО ЛЭШ Вконтакте: <a href="https://vk.com/medo_lesh">medo_lesh</a></p>
<p>Страница нашего отделения на сайте ЛЭШ: http://lesh.org.ru/join/med</p>
