Типа, шаблон письма новому пользователю


    $Subj = "Твой логин на сайте $meta_site_name.";
    $Body =
"Привет!

Мы создали для тебя логин и пароль на сайте $meta_site_name ($meta_site_url). Вот они:

Логин (имя пользователя):  $login
Пароль:                    $password

Для того, чтобы войти на сайт, ты можешь пройти по этой ссылке: $meta_site_url

Для того, чтобы редактировать тексты (и добавлять новости), зайди сюда: $meta_site_url?ref=ladmin

Для того, чотбы посмотреть все курсы, зайди сюда: $meta_site_url/register/view-course

Для того, чтобы посмотреть список людей, зайди сюда: $meta_site_url/register/view

Если что-то не так, пароль не подходит, сайт не открывается и т.п. -- пожалуйста, напиши нам на $meta_site_mail

Удачи!
";
            if($notify)
                if(!xcms_send_email($mail, $Subj , $Body))
                {
                    echo "\n *** ERROR. Notification mail could not be delivered. Please, deliver it by yourself.\n";
                    echo "============================================================================\n";
                    echo "To: $mail\n";
                    echo "Sublect: $Subj\n\n";
                    echo $Body;
                    echo "============================================================================\n";
                }

        }
    }
*/
