<h1>Добро пожаловать на сайт @@SITE@!</h1>

<div>Для Вас заведён логин и пароль на сайте @@SITE@
    (<a href="@@SITE-URL@">@@SITE-URL@</a>)!</div>

<div>Ваш логин: <b>@@LOGIN@</b></div>
<div>Ваш пароль: <b>@@PASSWORD@</b></div>
<div>Полное имя: <b>@@REAL-NAME@</b></div>

<p>Чтобы залогиниться на сайте, воспользуйтесь пунктом меню <b>Авторизация</b>.
Для авторизации укажите логин и пароль из этого письма.</p>

<p>После авторизации Вы можете поменять информацию о себе
или сменить пароль в личном кабинете.</p>

<p>Вам доступно добавление и редактирование страниц сайта
(&nbsp;<a href="@@SITE-URL@?page=index&amp;ref=admin">Админка</a>),
а также Система управления школьниками&nbsp;<a href="@@SITE-URL@xsm">XSM</a>).
Не стесняйтесь пользоваться всем этим!</p>

<p>Если у Вас возникнут вопросы или Вы встретите какие-либо трудности,
не стесняйтесь писать на @@SUPPORT@ или в наш
<a href="https://t.me/joinchat/CaUODkzcpBEHW2grOaB-FA">Telegram-чат технической поддержки</a>,
мы постараемся ответить на все ваши вопросы!</p>
