<h1>Добро пожаловать на сайт @@SITE@!</h1>

<div>Для Вас заведён логин и пароль на сайте @@SITE@
    (<a href="@@SITE-URL@">@@SITE-URL@</a>)!</div>

<div>Ваш логин: <b>@@LOGIN@</b></div>
<div>Ваш логин: <b>@@PASSWORD@</b></div>

Вам доступно добавление и редактирование страниц сайта
(раздел Админка), а также система управления школьниками
(XSM). Не стесняйтесь пользоваться всем этим!

Если у Вас будут какие-то проблемы, не бойтесь писать
на @@SUPPORT@, мы постараемся ответить на все ваши вопросы.
