<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@@SUBJECT@</title>
</head>
<body>
    @@MESSAGE@
    <hr />
    <div style="font-weight: bold; color: blue;">Это уведомление сгенерировано автоматически. Отвечать на него не нужно</div>
    <table>
        <tr><td>Пользователь</td><td style="font-weight: bold;">@@LOGIN@</td></tr>
        <tr><td>Имя веб-сервера</td><td style="font-weight: bold;">@@HOST@</td></tr>
        <tr><td>Обратная ссылка</td><td style="font-weight: bold;">@@REFERER@</td></tr>
    </table>
</body>
</html>