{% if level == '' %}
import Axios from 'axios'

declare var csrf_token: string;

export function call(
        url: string,
        data: any = undefined,
        headers: {[index: string]: string} ={}
    ) {
    return Axios.post(
        url,
        data,
        {
            headers: {
                'X-CSRFToken': csrf_token,
                ...headers,
            }
        }
    )
}
{% else %}
import * as interfaces from '../{{ level }}interfaces'
import { call } from '{{ level }}index'
{% endif %}

{% for child in children %}
import * as {{ child }} from './{{ child }}'
{% endfor %}
export {

{% for child in children %}
    {{ child }},
{% endfor %}
}

{% for entry in bundle %}
{{ entry }}
{% endfor %}