@import "back/back";
@import "save/save";

.controls {
  display: flex;
  font-size: 40px;
  justify-content: space-between;
}

.controls div {
  color: darkgray;
  background: white;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-shadow: 0px 2px 2px lightgray;
}

.controls div:hover {
  text-shadow: 0 0 0 white;
}