.login-oauth__button {
  --border-radius: 5px;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  --size: 30px;
  width: var(--size);
  height: var(--size);
}
