body {
    background-color: #eefebe;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 12px;
}

a {
    /* no fuckin' underlined hrefs */
    text-decoration: none;
}

a:link {
    color: #8f0000;
}

a:visited {
    color: #6f0000;
}

a:hover {
    color: #ef0000;
}

a:active {
    color: #ef0000;
}

a.h-menu-link {
    background: #bfbfbf;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 9pt;
}

a.h-menu-tab {
    background: #bfbfbf;
    border-radius: 2px;
    border: 1px solid #7f0000;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 10pt;
}

div.menu {
    float: left;
    font-family: monospace;
    font-size: 11pt;
}

div.menu-contlist {
    font-family: monospace;
    font-size: 10pt;
}

div.content {
    margin-left: 320px;
}

div.content-cabinet {
    margin-top: 15px !important;
    margin-left: 5px;
    margin-right: 5px;
}

/* default padding is too small */
textarea {
    padding: 4px;
    border: 1px solid #cfcf7f;
    background-color: #fefef3;
}

textarea.editor {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

textarea.admin-long {
    width: 700px;
}

pre.site-info {
    font-size: 9pt;
    margin-top: 2px;
    margin-bottom: 2px;
}

input {
    border: 1px solid #cfcf7f;
    padding-left: 2px;
    padding-right: 2px;
}

input[type="submit"] {
    border: 2px solid #7f7f7f;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 70px;
}

/* Link a-la-button masquerade */
a.submit {
    border: 2px solid #7f7f7f;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 70px;
    height: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #dddddd;
    color: #000000;
}

input[type="file"] {
    border: none;
    padding: 0px;
}

input.admin-medium {
    width: 300px;
}

input.admin-long {
    width: 700px;
}

a.menu-active {
    color: #9f0000;
    font-weight: bold;
}

a.user-list {
    display: block;
    padding-left: 8px;
    line-height: 17px;
}

div.user-list {
    float: left;
    width: 35%;
}

span.user-login {
    display: inline-block;
    width: 190px;
}

div.user-ops {
    float: right;
    width: 63%;
}

div.menuitem-hidden a {
    color: #8f6f6f;
}

form {
    margin: 0px;
}

span.admin-form-label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    color: #5f4f00;
    vertical-align: top;
}

div.admin-widget {
    border: 1px solid #cfcf7f;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 5px;
}

div.admin-widget h3 {
    font-size: 12pt;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.admin-widget div.error {
    color: #ff0000;
}

div.admin-widget div.warn {
    color: #9f0000;
}

div.admin-widget div.notice {
    color: #006f00;
}

.menu-level1 {
    padding-left: 0pt;
}
.menu-level2 {
    padding-left: 10pt;
}
.menu-level3 {
    padding-left: 20pt;
}

div.page-info-box {
    margin-bottom: 10px;
    border: 1px solid #cfcf7f;
    border-radius: 5px;
}

div.page-info-box-top {
    border-bottom: 1px solid #dfdf7f;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
}

div.page-info-box-bottom {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

span.info-label {
    display: inline-block;
    font-weight: bold;
    width: 120px;
    color: #5f4f00;
}

span.user-label {
    display: inline-block;
    font-weight: bold;
    width: 220px;
    line-height: 16px;
    color: #5f4f00;
}

div.td1 {
    line-height: 18px;
}

span.td2 {
    width: 49%;
    display: inline-block;
    line-height: 18px;
}

table.key-value {
    font-size: 9pt;
}

table.key-value td {
    vertical-align: top;
}

input.key-name {
    width: 150px;
}

input.key-value, textarea.key-value {
    width: 700px;
}

div.signature {
    font-style: italic;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 5px;
}

div.newstitle {
    font-size: 10pt;
    font-weight: bolder;
}

input.delete-news {
    float: right;
    background-color: #ff7f7f;
}

input.delete {
    background-color: #ff7f7f;
}

div.news-block {
    padding: 10px;
    border-radius: 5px;
}

div.news-block.even {
    background-color: #eefebe;
}

div.news-block.odd {
    background-color: #ddedad;
}

span.top-menu-div {
    padding-left: 10px;
    padding-right: 10px;
}

span.help-left {
    font-family: monospace;
    display: inline-block;
    width: 260px;
    padding-left: 6px;
}

div.help-widget {
    position: absolute;
    width: 500px;
    top: 15px;
    right: -5px;
    background-color: #e3e38f;
    padding-bottom: 5px;
    padding-top: 5px;
}

div.floating-box {
    overflow: auto;
}

a.image-link {
    float: left;
    width: 102px;
    display: inline-block;
}

a.attach-link {
    float: left;
    width: 150px;
    display: inline-block;
}

img.image-link {
    border: 1px solid #cfcf7f;
    width: 100px;
}

div.right-image-box {
    padding-left: 10px;
    display: inline-block;
}

#content-text-preview {
    background-color: #cfef9f;
    border: 1px dashed #5f5f5f;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
