body {
    background-color: #eefebe;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 12px;
}

a {
    /* no fuckin' underlined hrefs */
    text-decoration: none;
}

a:link {
    color: #8f0000;
}

a:visited {
    color: #6f0000;
}

a:hover {
    color: #ef0000;
    /*text-decoration: underline;*/
    /*border-bottom: 1px dotted #ef0000;*/
}

a:active {
    color: #ef0000;
}

a.h-menu-link {
    background: #bfbfbf;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 9pt;
}

a.h-menu-tab {
    background: #bfbfbf;
    border-radius: 2px;
    border: 1px solid #7f0000;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 10pt;
}

div.container {
    
}

div.menu {
    float: left;
    font-family: monospace;
    font-size: 11pt;
}

div.content {
    margin-left: 320px;
}

/* default padding is too small */
textarea {
    padding: 4px;
    border: 1px solid #7f7f7f;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    border: 1px solid #7f7f7f;
    padding-left: 2px;
    padding-right: 2px;
}

input[type="submit"] {
    border: 2px solid #7f7f7f;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 70px;
}

a.menu-active {
    color: #9f0000;
    font-weight: bold;
}

