.site-body {
    margin-left: 15px;
    margin-right: 15px;
}

table.table {
    font-size: 14px;
}
table.table td {
    font-size: 14px;
}

input, textarea, .uneditable-input {
    width: 506px;
}

td.sum {
    font-weight: bold;
    color: #0000ff;
}

span.ctx-legend-symbol {
    font-weight: bold;
    font-size: 18px;
}

td.ctx-not-checked {
    font-weight: bold;
    color: #ff0000;
    font-size: 18px;
}

td.ctx-int-mark {
    color: #007f00;
}

td.ctx-bad-mark {
    font-weight: bold;
    color: #ff0000;
    font-size: 18px;
}

form.ctx-filter input[type="text"] {
    vertical-align: top;
}
