div.xsm-edit-ops {
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.xsm-close {
    display: inline-block;
    position: absolute;
    top: -13px;
    right: -11px;
    width: 16px;
    height: 16px;
    background-image: url('../../img/close.png');
    background-repeat: no-repeat;
}

div.xsm-bottom-fields {
    text-align: right;
    padding: 2px 0px 2px 0px;
}

div.object-not-found {
    width: 500px;
    border: 1px solid #000000;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

td.school-selection a.edit-link.add {
    width: 16px;
    height: 16px;
    background-image: url('../../img/add.png');
    background-repeat: no-repeat;
    text-decoration: none;
}

td.school-selection a.edit-link.edit {
    width: 16px;
    height: 16px;
    background-image: url('../../img/edit.gif');
    background-repeat: no-repeat;
    text-decoration: none;
    right: 19px;
}

td.school-selection a.edit-link.delete {
    width: 16px;
    height: 16px;
    background-image: url('../../img/delete.gif');
    background-repeat: no-repeat;
    text-decoration: none;
}

span.xsm-fixed-field {
    font-weight: bold;
    display: inline-block;
    width: 300px;
}

span.class-school-num {
    font-weight: bold;
}

span.class-school-num.diff {
    color: #00009f;
}

table.person-top {
    margin-bottom: 10px;
    width: 100%;
    table-layout: fixed;
}

td.person-top {
    vertical-align: top;
}

td.person-top.left {
    width: 35%;
}

td.person-top.middle {
    width: 35%;
}

td.person-top.right {
    width: 30%;
    text-align: right;
}

div.person-portrait {
    display: inline-block;
    float: left;
    padding-right: 10px;
    padding-bottom: 35px;
}

img.person-portrait {
    width: 50px;
    border: 1px solid #8faf6f;
}

div.person-title {
    font-size: 14pt;
    font-weight: bold;
}

input[type="text"].ankEdit {
    width: 75%;
}

.ankEdit.checkbox {
    vertical-align: -10%;
}

input.ankEdit.filter {
    width: 200px;
}

form.xsm-filter input[type="checkbox"] {
    margin-left: 15px;
}
form.xsm-filter i {
    display: inline-block;
    width: 15px;
}

textarea.ankEdit {
    width: 75%;
    height: 72px;
}

span.person-key {
    font-weight: bold;
    display: inline-block;
}

span.person-key.top {
    width: 130px;
}

span.person-key.main {
    width: 190px;
}

span.person-value {
    font-weight: normal;
    white-space: nowrap;
}

/* anketa status */
span.anketa-status {
    font-weight: bold;
}

span.anketa-status.xe-new {
    color: #cf8f00;
}

span.anketa-status.xe-progress {
    color: #7f007f;
}

span.anketa-status.xe-verify {
    color: #7c4ea7;
}

span.anketa-status.xe-less {
    color: #2f2faf;
}

span.anketa-status.xe-processed {
    color: #008f00;
}

span.anketa-status.xe-nextyear {
    color: #9f5f5f;
}

span.anketa-status.xe-declined {
    color: #7f7f7f;
}

span.anketa-status.xe-cont {
    color: #006f00;
}

span.anketa-status.xe-old {
    color: #000000;
}

span.anketa-status.xe-duplicate {
    color: #ff7f50;
}

span.anketa-status.xe-spam {
    color: #ff0000;
}

/* exam-status */
span.exam-status.xe-passed {
    color: #008f00;
}

span.exam-status.xe-notpassed {
    color: #ff0000;
}

span.exam-status.xe-almost {
    color: #ffff00;
}

span.exam-status.xe-almost {
    color: #0000ff;
}

/* course-area */
span.course-area.xe-precise {
    color: #ff0000;
}

span.course-area.xe-cs {
    color: #cf5f00;
}

span.course-area.xe-nature {
    color: #0000ff;
}

span.course-area.xe-human {
    color: #00ff00;
}

/* course-type */
span.course-type.xe-facult {
    color: #7f7f7f;
}

span.course-type.xe-single {
    color: #004f00;
}

span.course-type.xe-prac {
    color: #9f0000;
}

span.course-type.xe-generic {
    color: #000000;
}

/* course-progress */
span.course-progress {
    font-weight: bold;
}
span.course-progress.xe-undef {
    color: #7f7f7f;
}
span.course-progress.xe-low {
    color: #cf0000;
}
span.course-progress.xe-medium {
    color: #9f6f00;
}
span.course-progress.xe-high {
    color: #0f7f00;
}
span.course-progress.xe-all {
    color: #5f5f5f;
}

/* forest status */
span.forest-status {
    font-weight: bold;
}
span.forest-status.xe-undef {
    color: #7f7f7f;
}
span.forest-status.xe-notable {
    color: #ff0000;
}
span.forest-status.xe-no {
    color: #7f0000;
}
span.forest-status.xe-maybe {
    color: #0000ff;
}
span.forest-status.xe-able {
    color: #009f00;
}
span.forest-status.xe-yes {
    color: #007f00;
}

/* ------------ */

span.person-value.department {
    font-weight: bold;
    color: #df005f;
}
span.person-value.roles {
    font-weight: bold;
    color: #5f005f;
}
span.person-value.class {
    font-weight: bold;
    color: #3f3fef;
}

div.xsm-help-widget {
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    position: absolute;
    width: 600px;
    top: 20px;
    right: -5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: none; /* for sliding */
}

td.ankListRowTitle {
    font-size: 20px;
}

span.edit-op {
    padding-left: 10px;
    font-size: 14px;
    line-height: 14px; /* same as ankListRowTitle font size */
    vertical-align: 3px;
}

span.edit-info {
    float: right;
    font-size: 14px;
    line-height: 20px; /* same as ankListRowTitle font size */
}

span.xsm-required-field {
    font-weight: bold;
    font-size: 12px;
    color: #ff0000;
}

td.ankList.dep1 {
    background-color: #fdffe4;
}
td.ankList.dep2 {
    background-color: #aaddaa;
}
td.ankList.dep3 {
    background-color: #e3e3fe;
}
td.ankList.dep4 {
    background-color: #b2e4eb;
}
td.ankList.dep5 {
    background-color: #dcfda2;
}
td.ankList.dep6 {
    background-color: #b4fda2;
}

.cell-editing {
    min-width: 0px;
    width: auto;
}

/* search warnings */
.xsm-warning {
    color: #9f0000;
    font-weight: bold;
}

.sort_by_inner:hover {
    color: #08c;
}
.sort_by_inner.sort_active {
    color: #005db7;
}
.sort_by_inner.sort_active:hover {
    color: #08c;
}

td.acl-xsm-private {
    background-color: #ffeeee;
}
