div.xsm-edit-ops {
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.xsm-close {
    display: inline-block;
    position: absolute;
    top: -13px;
    right: -11px;
    width: 16px;
    height: 16px;
    background-image: url('../../img/close.png');
    background-repeat: no-repeat;
}

div.xsm-bottom-fields {
    text-align: right;
    padding: 2px 0px 2px 0px;
}

div.object-not-found {
    width: 500px;
    border: 1px solid #000000;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

td.school-selection a.edit-link.add {
    width: 16px;
    height: 16px;
    background-image: url('../../img/add.png');
    background-repeat: no-repeat;
    text-decoration: none;
}

td.school-selection a.edit-link.edit {
    width: 16px;
    height: 16px;
    background-image: url('../../img/edit.gif');
    background-repeat: no-repeat;
    text-decoration: none;
    right: 19px;
}

td.school-selection a.edit-link.delete {
    width: 16px;
    height: 16px;
    background-image: url('../../img/delete.gif');
    background-repeat: no-repeat;
    text-decoration: none;
}

span.xsm-fixed-field {
    font-weight: bold;
    display: inline-block;
    width: 300px;
}

span.class-school-num {
    font-weight: bold;
}

span.class-school-num.diff {
    color: #00009f;
}

span.xsm-header {
    font-size: 20px;
}

div.person-topright {
    float: right;
    width: 35%;
}

div.person-topleft {
    width: 60%;
    float: left;
}

div.person-portrait {
    display: inline-block;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

img.person-portrait {
    width: 50px;
    border: 1px solid #8faf6f;
}

div.person-title {
    font-size: 14pt;
    font-weight: bold;
}
