div.xsm-edit-ops {
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.xsm-close {
    display: inline-block;
    position: absolute;
    top: -13px;
    right: -11px;
    width: 16px;
    height: 16px;
    background-image: url('../../img/close.png');
    background-repeat: no-repeat;
}

div.xsm-bottom-fields {
    text-align: right;
    padding: 2px 0px 2px 0px;
}

div.object-not-found {
    width: 500px;
    border: 1px solid #000000;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

td.school-selection a.edit-link.add {
    width: 16px;
    height: 16px;
    background-image: url('../../img/add.png');
    background-repeat: no-repeat;
    text-decoration: none;
}

td.school-selection a.edit-link.edit {
    width: 16px;
    height: 16px;
    background-image: url('../../img/edit.gif');
    background-repeat: no-repeat;
    text-decoration: none;
    right: 19px;
}

td.school-selection a.edit-link.delete {
    width: 16px;
    height: 16px;
    background-image: url('../../img/delete.gif');
    background-repeat: no-repeat;
    text-decoration: none;
}

span.xsm-fixed-field {
    font-weight: bold;
    display: inline-block;
    width: 300px;
}

span.class-school-num {
    font-weight: bold;
}

span.class-school-num.diff {
    color: #00009f;
}

table.person-top {
    margin-bottom: 10px;
    width: 100%;
    table-layout: fixed;
}

td.person-top {
    vertical-align: top;
}

td.person-top.left {
    width: 35%;
}

td.person-top.middle {
    width: 35%;
}

td.person-top.right {
    width: 30%;
    text-align: right;
}

div.person-portrait {
    display: inline-block;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

img.person-portrait {
    width: 50px;
    border: 1px solid #8faf6f;
}

div.person-title {
    font-size: 14pt;
    font-weight: bold;
}

input[type="text"].ankEdit {
    width: 75%;
}

.ankEdit.checkbox {
    vertical-align: -10%;
}

input.ankEdit.filter {
    width: 200px;
}

textarea.ankEdit {
    width: 75%;
    height: 72px;
}

span.person-key {
    font-weight: bold;
    display: inline-block;
}

span.person-key.top {
    width: 120px;
}

span.person-key.main {
    width: 190px;
}

span.person-value {
    font-weight: normal;
}

/* exam-status */
span.exam-status.passed {
    color: #008f00;
}

span.exam-status.notpassed {
    color: #ff0000;
}

span.exam-status.almost {
    color: #ffff00;
}

span.exam-status.almost {
    color: #0000ff;
}

/* course-area */
span.course-area.precise {
    color: #ff0000;
}

span.course-area.nature {
    color: #0000ff;
}

span.course-area.human {
    color: #00ff00;
}

/* course-type */
span.course-type.facult {
    color: #7f7f7f;
}

span.course-type.prac {
    color: #9f0000;
}

span.course-type.generic {
    color: #000000;
}
/* ------------ */

div.xsm-help-widget {
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    position: absolute;
    width: 600px;
    top: 20px;
    right: -5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: none; /* for sliding */
}
