<!DOCTYPE HTML>
<html>
    <head>
        <title> О нас пишут</title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <link href="reset.css" rel="stylesheet" type="text/css" />
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
            <div id="main">
                <div class="header">
                    <div class="picture_logo"> </div>
                    <div class="picture_title"> </div>
                </div>
                    <div class="sidebar_top">
                        <ul>
                            <li><a href="index.html">лэш</a></li>
                            <li><img src="pict/gr.gif" /><a href="reception.html">поступление</a></li>
                            <li><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
                            <li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
                        </ul>
                    </div>
                        <div class="sidebar_bottom">
                            <ul>
                                <li><a class="small_green_word">о нас пишут</a></li>
                            </ul>
                        </div>
                            <div class="sidebar_left">
                                <ul>
                                    <li> <a href="">Фотоальбом</a></li>
                                    <li><a href="aboutus.html">О нас пишут</a></li>
                                    <li><a href="">Ссылки</a></li>
                                    <li><a href="">Форум</a></li>
                                </ul>
                                    <img src="pict/green.gif" />
                            </div>

                    <div class="length_of_text">
                        <span>Статьи про ЛЭШ</span>

                        <div class="bottom_text">
    <ol class="indent_minus">
        <li><a href="http://www.polit.ru/article/2006/06/01/lesh1/">“В такой ситуации психологическая дистанция не нужна”</a> Интервью с Игорем Окштейном о феномене летних школ. ПОЛИТ.РУ, 1 июня 2006.
        </li>
        <li class="indent"><a href="http://www.polit.ru/article/2006/06/01/lesh/">“Питательный бульон российской науки”</a> Зачем школьнику учиться в каникулы, о феномене летних школ. Петр Иванов. ПОЛИТ.РУ, 1 июня 2006.
        </li>
        <li class="indent">“Пустынный остров на Севере, или Стажеры, морские ангелы и поведение животных” Заметки о Летней экологической школе Московского университета. И.И. Любечанский. Университетская жизнь (Новосибирск), 8 ноября 1993 г.
        </li>
        <li class="indent">“Новые подходы к естественнонаучному образованию” Интервью с Алексеем Васильевым и Игорем Окштейном. <a href="http://www.svobodanews.ru/">Радио Свобода</a>, 18 мая 2005г.
        </li>
        <li class="indent">“Преподавание биологии школьникам” Интервью с Александром Доброчаевым, Натальей Моралевой и Александром Марковым о летних школах и дополнительном образовании. <a href="http://www.svobodanews.ru/">Радио Свобода</a>, 6 апреля 2005г.
        </li>
        <li class="indent">“Настоящее, прошлое и будущее олимпиад для школьников 5-х - 9-х классов” Интервью с Еленой Муравенко, Виталием Арнольдом и Игорем Окштейном.<a href="http://www.svobodanews.ru/">Радио Свобода</a>, 15 июня 2005г.
        </li>
        <li class="indent"><a href="http://vdm.no-ip.biz/files/lesh/2005_art_polyanskoe.jpg">Статья "Московский десант в Полянском"</a> про ЛЭШ 2005 г. в селе Полянское.Газета "Красное знамя", август 2005 г.
        </li>
        <li class="indent">“Парта под солнцем” Летние каникулы - лучшее время для учебы. О традиционных летних школах. Наталья Иванова-Гладильщикова. Известия, 3 июля 2006г.
        </li>
        <li class="indent">Статья "ЛЭШ собирает одарённых" про ЛЭШ 2007 г. в селе Осташево: <a href="http://vdm.no-ip.biz/files/lesh/2007_art_ostashevo_p1.jpg">стр. 1</a>, <a href="http://vdm.no-ip.biz/files/lesh/2007_art_ostashevo_p2.jpg">стр. 2</a>. Газета "Уверские зори", август 2007 г.
        </li>
        <li class="indent"><a href="http://vdm.no-ip.biz/files/lesh/2010_art_bolshevys.jpg">Статья "Чудный лагерь" про ЛЭШ 2010 г. в селе Большевысоково</a>. Газета "Маяк" (г. Вязники), 2010 г.</li>
        <p>Электронная версия статьи на сайте <a href="http://vyazniki.ru/2010/08/20/print:page,1,news_4157.html">vyazniki.ru</a></p>
        <li class="indent"><a href="http://vdm.no-ip.biz/files/lesh/2011_art_zelenkovo_text.jpg">Статья "Для серьезных и увлеченных" про ЛЭШ 2011 г. в дер. Зеленьково</a>. Газета "Жарковская правда", август 2011 г.
        </li>
        <p>Статья про ЛЭШ <a href="http://www.zharkiadm.ru/index01/novosti.html">на сайте Администрации Жарковского района Тверской области</a>, запись от 02.08.2011.<a href="http://vdm.no-ip.biz/files/lesh/2011_art_zelenkovo.pdf">Заметка про ЛЭШ </a>в дер. Зеленьково.</p>
        <li class="indent"><a href="http://vdm.no-ip.biz/files/lesh/article_rr.jpg">Статья про ЛЭШ в журнале Русский Репортер (Июль, 2010 г)</a>
        </li>
    </ol>
        <p class="note_bottom">(к некоторым статьям не хватает ссылок и выходных данных газет/журналов. Это будет исправлено в ближайшем будущем)</p>
                    </div>
                </div>
            </div>
        </body>
</html>