<!DOCTYPE HTML>
<html>
    <head>
        <title> Биологическое отделение</title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <!--<meta name="copyright" Content="http://yuliy.me" /> 
        <meta name="description" Content="бюджет" />
        <meta name="keywords" Content ="бюджет органайзер" />-->
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
			<div id="main">
				<div id="header">
				 <div class="p1"> </div>
				 <div class="p2"> </div>
			 	</div>

					<div id="sidebar1">
						<ul>
							<li><a href="index.html">лэш</a></li>
							<li style="font-size: 16px; color: #7AA643"><img src="pict/gr.gif" />поступление</li>
							<li ><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
							<li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
						</ul>
					</div>
					<div id="minibar"> 
						<ul>
							<li><a href="reception.html">поступление на лэш</a>&nbsp;/</li> 
							<li><a style="color: #769897">биологическое отделение</a></li>
						</ul>
					</div> 
					<div id="sidebar2">
						 <ul>
							<li style="width:80px"> <a href="">Фотоальбом</a></li>
							<li style="width:80px"><a href="aboutus.html">О нас пишут</a></li>
							<li style="width:50px"><a href="">Ссылки</a></li>
							<li style="width:45px"><a href="">Форум</a></li>
						</ul>
							<img src="pict/green.gif" />
					</div>

					<div id="res">
						<span> Поступление на ЛЭШ</span>

<p>Способы поступления на отделения Школы несколько отличаются, но как правило, это собеседование с преподавателями отделения.</p>
<div id="med2">
	<p>В составе отделения - 6 классов: с 5 по 10 класс (номер класса соответствует тому, который учащийся окончил в этом году). Обычная численность класса — 12-15 человек, численность пятого класса меньше: 5-10 человек. У каждого класса есть два взрослых куратора, которые набирают класс, составляют (совместно с руководством отделения) учебную программу, организуют учебу и быт класса во время Школы, отвечают за безопасность пребывания детей на Школе. Отделением руководят завуч, отвечающий за содержание программ учебных курсов и распределение курсов по классам, и начальник отделения, решающий остальные вопросы.</p>
	<p>Взрослые отделения — кураторы классов, преподаватели обязательных и факультативных учебных курсов. Общая численность взрослых около 30 человек, в основном это студенты старших курсов биологического факультета МГУ, аспиранты, молодые научные сотрудники.</p>
	<p>Начальник отделения - Владимир Алексеев .</p>
</div>
<div id="med"><p>Биологическое отделение</p></div>
<p><a href="https://sites.google.com/site/maolesh">Математическое отделение</a></p>
<!--<p>Актуальная информация о способах поступления на математическое отделение изложена на сайте Математического Отделения в разделе <a href="">"Как поступить?"</a></p>-->
<p><a href="http://fizlesh.ru">Физическое отделение</a></p>
<!--<p>Полные и актуальные правила набора на физическое отделение изложены на сайте отделения в разделе <a href="">"Поступление"</a>. В двух словах - кандидаты проходят собеседование, а также на майских праздниках проводятся традиционные двудневные выходы в лес, где школьникам даются некоторые несложные экспериментальные задачи.</p>-->
<p><a href="human.html">Гуманитарное отделение</a></p>
<!--<p>Гуманитарное отделение работает на протяжении первых двух циклов ЛЭШ (12 дней) и всей ЗЭШ (Зимней школы).</p>
<p>Поступление на гуманитарное отделение ЛЭШ и ЗЭШ осуществляется по решению директора отделения по итогам собеседования. Принимаются школьники 6-10 (ЛЭШ) ~ 6-11 (ЗЭШ) классов. При прочих равных условиях преимущество имеют школьники не из Москвы, готовые лично приехать на собеседование (время может быть согласовано).</p>
<p>Собеседование состоит в решении некоторого количества (в основном нестандартных) задач и заданий по разным гуманитарным (и не только) дисциплинам - лингвистике, истории, мифологии, литературоведению и т.д.,а иногда и просто "на сообразительность", и их обсуждении.</p>
<p>Собеседование на ЛЭШ проходит в конце марта - апреле, собеседование на ЗЭШ - ориентировочно в ноябре. Для того, чтобы принять участие в собеседовании, необходимо до 10 марта (ЛЭШ) ~ до 31 октября (ЗЭШ) написать директору отделения Илье Иткину по адресу <a href="">isv (собака) gol.ru </a>или связаться с ним иным образом.</p>
<div id="resV"><span>ВНИМАНИЕ! Число мест на гуманитарном отделении ОЧЕНЬ ограничено!</span></div>-->
<p><a href="http://olpbio.ucoz.ru">Отделение ОЛПБио</a></p>
<p><a href="FMBio.html">Отделение ФМБио</a></p>
<p><a href="medical.html">Медицинское отделение</a></p>
				 	</div>

				 	<div id="principles">
<p><strong>Прием на биологическое отделение</strong></p>
<p>На отделение может поступить любой желающий школьник, окончивший 5-10 класс. Попасть к нам можно несколькими путями:</p>
	<ol>
		<li>Пройти собеседование с куратором своего класса. Собеседования начинаются на 1 туре <a href="http://shbo.ru/">Школьной Биологической Олимпиады МГУ</a>(ШБО). Дата, время и место проведения собеседования определяется по договоренности с куратором класса. Самый удобный способ — прийти на ШБО и договориться.
		</li>
		<li>Написать начальнику отделения и получить координаты куратора своего класса. Собеседования заканчиваются около 20 апреля. Если Вы решили пройти собеседование позже, Вас могут принять, только если в классе остались свободные места, или кто-то из уже принятых школьников отказался от участия в ЛЭШ.</li>
			<p>На собеседовании обычно задаются вопросы трех типов:</p>
			<p style="padding-left:20px">
			&ndash;по разделам биологии, пройденным в школе (как в рамках школьной программы, так и за ее пределами);<br>
			&ndash;по отдельной области биологии, выбранной Вами;<br>
			&ndash;различные (не только биологические) нестандартные задачи, проверяющие способность логически мыслить, выдвигать и проверять гипотезы и т.д.</p>	
		<li>Успешно освоить учебную программу Весенней Школы. Организаторы биологического отделения ЛЭШ совместно с <a href="http://sch-int.ru/">ГОУ школа-интернат "Интеллектуал"</a> проводят Межрегиональную Биологическую Олимпиаду <a href="">(МБО)</a> для учащихся 6-9 классов. Первый тур Олимпиады проводится на базе школ и учреждений дополнительного образования во всех регионах России. Задания рассылаются почтой по адресам, имеющимся в нашей базе данных. <a href="">Порядок проведения Олимпиады</a> будет опубликован в ближайшее время. Работы участников 1 тура проверяются нами до 20 февраля, после чего будет опубликован список приглашенных на второй тур, также им будут высланы официальные приглашения. Второй тур очный, проводится на базе филиала МГУ в г. Пущино Московской области в рамках Весенней Биологической Школы.(<a href="">Программа прошлогодней Школы</a>)
		</li>
	 	<li>Выполнить заочное задание.Если Вы не имеете возможность приехать в Москву или участвовать в олимпиаде школы "Интеллектуал", мы можем выслать Вам заочное задание. Предупреждаем, что задание сложное и потребует как собственных идей, так и серьезной работы с дополнительной литературой. Ежегодно таким способом на ЛЭШ поступает 2-3 человека.
	 	</li>
	 	<li>Возможность для участников каждой ЛЭШ  быть приглашеным на следующую школу при условии успешного освоения программы прошедшей Школы. Также для перехода в следующий класс необходимо пройти переводное собеседование (в тот же срок, что и вступительные собеседования). Для школьников, живущих далеко от Москвы и имеющих отличные оценки за прошлую Школу, возможно автоматическое зачисление в следующий класс ЛЭШ.
	 	</li>
	</ol>
<p><strong>На биологическом отделении были прочитаны следующие курсы:</strong></p>
	<p style="padding-left:20px">
	&ndash;атомная физика (Серж Коробкин); 10-й биологический класс;<br>
	&ndash;<a href="biological_.html">биотехнология</a> (Лена Лабунская); 10-й биологический класс;<br>
	&ndash;биохимия (Александра Белякова); 10-й биологический класс;<br>
	&ndash;генетика (Наташа Булгакова); 10-й биологический класс;<br>
	&ndash;генетика (Иван Глухов); 10-й биологический класс;<br>
	&ndash;геносистематика (Миша Никитин); 10-й биологический класс;<br>
	&ndash;иммунология (Лена Матвеева); 10-й биологический класс;<br>
	&ndash;история науки (Сергей Ястребов); 10-й биологический класс;<br>
	&ndash;кровь и лимфа (Аннушка Алексеева); 10-й биологический класс;<br>
	&ndash;методы полевых исследований (Надя Чистякова); 10-й биологический класс;<br>
	&ndash;<a href="biological_.html">молекулярная биология</a> (Наташа Баринова); 10-й биологический класс;<br>
	&ndash;механизмы органических реакций (Сергей Цитовский); 10-й биологический класс;<br>
	&ndash;полевая ботаника (Саша Ухова); 10-й биологический класс;<br>
	&ndash;сравнительная анатомия (Сергей Ястребов); 10-й биологический класс;<br>
	&ndash;теория эволюции (Сергей Ястребов); 10-й биологический класс;<br>
	&ndash;цитология (Алина Корбут); 10-й биологический класс;<br>
	&ndash;эволюция растений (Алексей Борисюк); 10-й биологический класс;<br>
	&ndash;эндокринология (Мария Володина); 10-й биологический класс;
	</p>
				 	</div>
			</div>		
		</body>
</html>