<!DOCTYPE HTML>
<html>
    <head>
        <title> Биотехнология и молекулярная биология</title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <link href="reset.css" rel="stylesheet" type="text/css" />
        <link href="trebuc.ttf" rel="stylesheet" type="text/css">
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
			<div id="main">
				<div class="header">
					<div class="picture_logo"> </div>
					<div class="picture_title"> </div>
			 	</div>
					<div class="sidebar_top">
						<ul>
							<li><a href="index.html">лэш</a></li>
							<li class="big_green_word"><img src="pict/gr.gif" />поступление</li>
							<li><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
							<li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
						</ul>
					</div>
						<div class="sidebar_bottom"> 
							<ul>
								<li><a href="reception.html">поступление на лэш</a>&nbsp;/</li> 
								<li><a href="biological.html">биологическое отделение</a>&nbsp;/</li>
								<li><a class="small_green_word">биотехнология и молекулярная биология</a></li>
							</ul>
						</div> 
							<div class="sidebar_left">
								<ul>
									<li class="bar_left"> <a href="">Фотоальбом</a></li>
									<li class="bar_left"><a href="aboutus.html">О нас пишут</a></li>
									<li class="bar_left"><a href="">Ссылки</a></li>
									<li class="bar_left"><a href="">Форум</a></li>
								</ul>
									<img src="pict/green.gif" />
							</div>

					<div class="length_of_text">
						<span> Биотехнология и молекулярная биология</span>
<div class="big_grey_fond">
	<img src="pict/map.png">
<p>В 2007 году школа проводилась в селе Осташово Мошенского района Новгородской области.</p>
</div>
				 	</div>

				 	<div class="bottom_text">
<p class="title_bold">Биотехнология</p>
<p class="indent">Программа курса:</p>
	<ol>
		<li>Культура клеток высших растений – уникальная биологическая система.</li>
			<ul class="bullet">
				<li class="bullet">получение культуры клеток высших растений; экспланты; дедифференциация тканей высших растений in vitro
				</li>
				<li class="bullet">каллусные и суспензионные культуры – два способа культивирования
				</li>
				<li class="bullet">каллусы
				</li>
				<li class="bullet">первичный каллусогенез; характеристики каллусов; рост каллусных культур; краткий обзор питательных сред для культивирования
				</li>
				<li class="bullet">суспензионные культуры
				</li>
				<li class="bullet">получение, характеристики суспензионных культур; рост клеток в суспензиях, закономерности роста; ростовая кривая, ее особенности.
				</li> 
			</ul>	
		<p>
			<li>Культуры как популяции соматических клеток.</li> 
				<ul class="bullet">
					<li class="bullet">гетерогенность как основа устойчивости популяции клеток; клеточный цикл in vitro, его синхронизация
					</li>
					<li class="bullet">дифференциация в культуре клеток in vitro; индукция дифференциации; типы дифференциации; гистогенез, вегетативный и флоральный органогенез; униполярный и биполярный морфогенез (соматический эмбриогенез); факторы, влияющие на дифференциацию в культуре клеток
					</li>
				</ul>
		</p>
	 	<li>Использование культур клеток в биологии и биотехнологии. Краткий  обзор.</li>
	 		<ul class="bullet">
				<p class="top">культура клеток как модель для исследования:</p>
				<li class="bullet">фотосинтеза</li>
				<li class="bullet">минерального питания</li>
				<li class="bullet">устойчивости и защитных систем растений</li>
				<li class="bullet">роста и развития</li>
				<li class="bullet">биосинтеза вторичных метаболитов</li>
				<li class="bullet">клеточная культура – адекватная модель растительного организма или это система, существующая по законам популяции</li>
				<li class="bullet">клеточные культуры – возможность сохранения редких видов в коллекциях; коллекции растительных объектов in vitro; пересадочные и депонированные коллекции; криосохранение культур клеток и меристем</li>
				<li class="bullet">клональное микроразмножение; клеточная селекция и индуцированный мутагенез; изолированные протопласты; методы получения и культивирования; манипуляции с изолированными протопластами; использование протопластов для клеточной селекции; генная инженерия растений; векторы переноса генетической информации у растений; регенерация трансформированных клеток, экспрессия и генетическая стабильность чужеродных генов. 
				</li>
			</ul>
	</ol>
<p>
	<p class="title_bold">Молекулярная биология</p>
<p class="indent">Программа курса:</p>
	<ol>
		<li>Центральная догма молекулярной биологии (ДНК→ РНК→ белок).
		</li>
		<li>Строение молекулы ДНК. Комплементарность. Правило Чаргаффа. Различные формы ДНК (последовательность ДНК определяет свойства). Сверхспирализация. Топоизомеразы. Структура хромосом у про- и эукариот. Различные уровни компактизации ДНК.
		</li>
		<li>Репликация ДНК. Белки входящие в состав репликационного комплекса (праймаза, хеликаза, SSB, ДНК-полимераза), координация синтеза ДНК на ведущей и отстающей нитях. Точки начала репликации у прокариот и эукариот. Разделение хромосом между дочерними клетками. Строение теломер хромосом эукариот.
		</li>
		<li>Репарация ДНК. Различные типы репарации: эксцизионная репарация, mismatch-репарация, sos-репарация, репарация двойных разрывов.
		</li>
		<li>Рекомбинация ДНК. Гомологичная рекомбинация, связь с репарацией и репликацией. Сайт-специфическая рекомбинация.
		</li>
		<li>Транскрипция. РНК-полимераза бактерий. Роль σ-фактора в инициации транскрипции, строение промотора. Элонгация и терминация транскрипции. Оперон у прокариот. Полицистронные и моноцистронные мРНК. Транскрипция у эукариот: разные РНК-полимеразы ответственны за транскрипцию разных генов. Разные виды РНК. Структура мРНК эукариот: экзоны и интроны.
		</li>
		<li>Процессинг РНК.  Модификации мРНК: cap и polyA-последовательность. Сплайсинг. Альтернативный сплайсинг. Самосплайсирующиеся интроны, рибозимы. Функции РНК: кодирующая, структурная и каталитическая. Структура рибосом.</li>
		<li>Синтез белка. Кодирование последовательности белка в последовательности мРНК: триплетность, неперекрываемость и вырожденность генетического кода. Трансляция: инициация, элонгация и терминация. Элонгационный цикл рибосомы: связывание аминоацилированной тРНК, транспептидация, транслокация. Frameshifting, wobble гипотеза. Судьба синтезированного пептида. Посттрансляционные  модификации. Внутриклеточная локализация белков, роль сигнальных последовательностей.
		</li>
		<li>Регуляция экспресии генов на различных уровнях. Регуляция на уровне транскрипции. Роль белков хроматина (гистонов и негистоновые белков) в регуляции экспрессии генов. Регуляция на уровне мРНК. Регуляция на уровне трансляции. Деградация белков и протеасома.
		</li> 
	</ol>
</p>
				 	</div>
			</div>		
		</body>
</html>