<!DOCTYPE HTML>
<html>
    <head>
        <title> Учебный план ФМБио</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="reset.css" rel="stylesheet" type="text/css" />
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="main">
        <div class="header">
            <div class="picture_logo"> </div>
            <div class="picture_title"> </div>
        </div>
        <div class="sidebar_top">
            <ul>
                <li><a href="index.html">лэш</a></li>
                <li class="big_green_word"><img src="pict/gr.gif" />поступление</li>
                <li><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
                <li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
            </ul>
        </div>
        <div class="sidebar_bottom">
            <ul>
                <li><a href="reception.html">поступление на лэш</a>&nbsp;/</li>
                <li><a href="FMBio.html">отделение ФМБио</a>&nbsp;/</li>
                <li><a class="small_green_word">учебный  план первого набора</a>
                </li>
            </ul>
        </div>
        <div class="sidebar_left">
            <ul>
                <li> <a href="">Фотоальбом</a></li>
                <li><a href="aboutus.html">О нас пишут</a></li>
                <li><a href="">Ссылки</a></li>
                <li><a href="">Форум</a></li>
            </ul>
                <img src="pict/green.gif" />
        </div>

        <div class="length_of_text">
<p>Первый набор школьников на отделение был произведён весной-летом 2007 года и был весьма небольшим.</p>
<p>В летнюю школу поехали ребята, прошедшие индивидуальные комплексные собеседования (по физике, математике и биологии) и преодолевшие пробное обучение, которое прошло в течение недели (июнь 2007 года, Москва) на базе Института Теоретической и Экспериментальной Физики
    (<a href="http://www.itep.ru">ИТЭФ</a>)
</p>
<p>В этот период сотрудниками ИТЭФа и студентами МГУ были прочитаны курсы: «Цитология», «Термодинамика», «Законы сохранения в физике», «Химическая связь», «Гистология», «Направления исследований в области количественной физиологии».
</p>
<p class="brown_stripe">На ЛЭШ-2007 учебный план был таким:</p>
<p class="only_bold">6 класс:</p>
    <ol class="shift">
        <li>Комбинаторика</li>
        <li>Основы общей зоологии</li>
        <li>Ботанические экскурсии</li>
        <li>Физико-химические основы работы клеток</li>
        <li>Зоологические экскурсии</li>
        <li>Цитология</li>
        <li>Физический практикум</li>
        <li>Придумайте животное</li>
    </ol>
<p class="only_bold">7-8 класс:</p>
    <ol class="shift">
        <li>Сравнительная анатомия (два цикла)</li>
        <li>Моделирование и метод анализа размерностей</li>
        <li>Основы общей химии (два цикла)</li>
        <li>Элементы высшей математики</li>
        <li>Модели и аналогии в механике</li>
        <li>Количественная физиология</li>
        <li>Переход к многоклеточности</li>
        <li>Ботанико-зоологические экскурсии</li>
    </ol>
<p class="only_bold">9 класс:
    <ol class="shift">
        <li>Сравнительная анатомия (два цикла)</li>
        <li>Количественная физиология (два цикла)</li>
        <li>Функциональная математика</li>
        <li>Физический практикум</li>
        <li>Механизмы органических реакций (два цикла)</li>
        <li>Переход к многоклеточности</li>
        <li>Геносистематика</li>
        <li>Ботанико-зоологические экскурсии</li>
    </ol>
</p>
                </div>
        </div>
        </body>
</html>