<!DOCTYPE HTML>
<html>
    <head>
        <title> ФМБио отделение</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="reset.css" rel="stylesheet" type="text/css" />
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div id="main">
        <div class="header">
            <div class="picture_logo"> </div>
            <div class="picture_title"> </div>
        </div>
        <div class="sidebar_top">
            <ul>
                <li><a href="index.html">лэш</a></li>
                <li class="big_green_word"><img src="pict/gr.gif" />поступление</li>
                <li><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
                <li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
            </ul>
        </div>
        <div class="sidebar_bottom">
            <ul>
                <li><a href="reception.html">поступление на лэш</a>&nbsp;/</li>
                <li><a class="small_green_word">отделение ФМБио</a></li>
            </ul>
        </div>
        <div class="sidebar_left">
            <ul>
                <li> <a href="">Фотоальбом</a></li>
                <li><a href="aboutus.html">О нас пишут</a></li>
                <li><a href="">Ссылки</a></li>
                <li><a href="">Форум</a></li>
            </ul>
                <img src="pict/green.gif" />
        </div>

        <div class="length_of_text">
            <span> Поступление на ЛЭШ</span>

<p>Способы поступления на отделения Школы несколько отличаются, но как правило, это собеседование с преподавателями отделения:</p>
    <div class="grey_fond">
        <p>Ещё 10-15 лет назад в биологии практически отсутствовали расчёты, подобные физическим. Вся информация носила преимущественно описательный характер, являясь подробным описанием жизнедеятельности. Но в настоящее время появились и становятся всё более эффективными принципы и подходы, позволяющие выполнять расчет живого организма подобно технической системе, не потеряв при этом биологического своеобразия.</p>
        <p>Стремительно увеличивающийся поток информации, без овладения которой невозможно эффективно включиться в научно исследовательскую деятельность в области биологии и смежных дисциплин, требует методически и методологически переосмысленного синтетического подхода в преподавании. В связи с этим возникла необходимость обучения применению на поле биологической реальности методов, обычных для теоретической физики.</p>
        <p><a href="curriculum.html">Учебный план первого набора.</a></p>
    </div>

<p><a href="biological.html">Биологическое отделение</a></p>
<p><a href="https://sites.google.com/site/maolesh">Математическое отделение</a></p>
<p><a href="http://fizlesh.ru">Физическое отделение</a></p>
<p><a href="human.html">Гуманитарное отделение</a></p>
<p><a href="http://olpbio.ucoz.ru">Отделение ОЛПБио</a></p>
    <div class="green_stripe">
        <p>Отделение ФМБио</p>
    </div>
<p><a href="medical.html">Медицинское отделение</a></p>
    </div>

    <div class="bottom_text">
<p>Система экзаменов теорминимума по естественным наукам (как расширения теорминимума Ландау по физике)
включает экзамены Малого теорминимума по естественным наукам (для студентов младших курсов и школьников) по темам:
</p>
    <ol class="indent">
        <li>Функциональная математика-1</li>
        <li>Количественная химия</li>
        <li>Количественная цитология</li>
        <li>Количественная физиология-1</li>
        <li>Количественный анализ метаболизма (как сопряжение цитологии и физиологии)</li>
        <li>Количественная физиология-2</li>
        <li>Количественная экология</li>
        <li>Количественный анализ процессов роста и развития</li>
        <li>Функциональная математика-2</li>
    </ol>
<p>Кроме того, принимаются экзамены Большого теорминимума по естественным наукам (как расширения теорминимума Ландау по физике):
</p>
    <ol class="indent">
        <li>Биометрия, биологическая относительность</li>
        <li>Экономика живой системы (общий подход и экономика растения как исходный этап оптимизационного описания биоразнообразия)</li>
            <p class="padding">(см. книгу А.А.Васильева «Теоретическая биология», часть 1, М.:МФТИ, 2002)</p>
        <li>Теоретическая цитология</li>
        <li>Теоретическая физиология</li>
        <li>Теоретическая экология</li>
    </ol>
<p class="brown_stripe">Сдача экзаменов открыта для всех желающих:
    <ul class="bullet">
        <li class="bullet">Разъяснения можно получить от Васильева Алексея Артемовича по тел. 615-08-61 с 13.00 до 23.00
        </li>
        <li class="bullet">В очной форме эти и другие темы рассматриваются на занятиях А.А. Васильева и И.Л.Окштейна в Институте теоретической и экспериментальной физики
            (<a href="http://www.itep.ru">ИТЭФ</a>)
        </li>
        <li class="bullet">Информацию можно получить от Игоря Окштейна по электронной почте
            (<a href="mailto:Okshtein@yandex.ru">Okshtein@yandex.ru</a>)
        </li>
        <li class="bullet">
            <a href="http://bio.fizteh.ru/student/diff_articles/vasilev_okshtein_21022007.html">Универсальное образование в области естественных наук с расширением на социально-экономические науки.</a>
        </li>
    </ul>
</p>
            </div>
        </div>
    </body>
</html>