<!DOCTYPE HTML>
<html>
    <head>
        <title> История </title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <link href="reset.css" rel="stylesheet" type="text/css" />
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
			<div id="main">
				<div class="header">
					<div class="picture_logo"> </div>
					<div class="picture_title"> </div>
			 	</div>
					<div class="sidebar_top">
						<ul>
							<li><a href="index.html">лэш</a></li>
							<li><img src="pict/gr.gif" /><a href="reception.html">поступление</a></li>
							<li><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
							<li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
						</ul>
					</div>
						<div class="sidebar_bottom"> 
							<ul>
								<li><a href="index.html">лэш</a>&nbsp;/</li> 
								<li><a class="small_green_word">история</a></li>
							</ul>
						</div> 
							<div class="sidebar_left">
								<ul>
									<li> <a href="">Фотоальбом</a></li>
									<li><a href="aboutus.html">О нас пишут</a></li>
									<li><a href="">Ссылки</a></li>
									<li><a href="">Форум</a></li>
								</ul>
									<img src="pict/green.gif" />
							</div>

					<div class="main_text">
						<span> История Летней Экологической Школы</span>

<p>Традиция летних школ зародилась в конце 50х – начале 60х годов двадцатого века, когда прошли первые летние семинары и школы по вторичным моделирующим системам и семиотике.</p>

<p class="padding_left">Семиотика тогда была наукой непризнанной, и факт проведения подобных школ можно было рассматривать как неподчинение ортодоксальной науке, признание своего права на свободу. В конце 80х годов страна переживала «гласность» и «перестройку». И вот, в июле 1989г., МГУ провел объединенную Международную Экологическую Школу. </p>

<p>Ощущение свободы в первой Школе выразилось в широте и непосредственности дискуссий, в легкости общения «школьников» и «преподов», в обсуждении «запретных» тем и переживании современного политического «момента». Но все это сочеталось с тщательным, даже скрупулезным изучением научных дисциплин, которые весьма вольно и расширенно притягивались к понятию «экология». Вполне академические ученые готовили учеников, опираясь на свои представления о науке и преподавании.</p>

<p class="padding_left"> Организация собственно ЛЭШ, или Летней Экологической Школы, связана с именами Игоря Окштейна и Оксаны Буковецкой.</p> 
<p >Первая летняя школа на фундаменте остатков кирпичной школы... Можно было обрести научную и творческую свободу, провести школу, не обязанную отчитываться перед государством. И учредители не замедлили этим воспользоваться. Государство не финансировало школу – и Школа училась выживать самостоятельно. С тех пор дилемма «деньги» или «свобода» несколько раз вставала перед организаторами. Соблазнов было два: отказаться от свободы и от приемлемой обстановки, или превратиться в группу любителей природы, собирающихся для тусовки.</p>

<p> В течение двух десятков лет ЛЭШ пережила много превращений. Занятия в школе приближают школьника к системному знанию о выбранной им специальности - биологии, физике, математике, филологии. Но одновременно дает представление о проблемах и методах современной науки.</p> 
				 	</div> 

					<div class="right_text">
<div class="indent_form">
<div class="title_as_chronicle"><p class="indent">Хроника ЛЭШ:</p></div>

<p><span class="setting_year">1989 г.</span>&nbsp;<a href="">«Химера»</a>&nbsp;родила идею ЛЭШ.</p>

<p>Событие совершилось на Плещеевом озере (Переславль-Залесский) под руководством Вячеслава Загорского и впоследствии отбывшего в Америку Аркадия Мушегяна при личном участии Игоря Окштейна.
	<p> Одновременно «Химера» родила Летнюю гуманитарную школу с постоянной базой в Переславле-Залесском.</p>
</p>

<p><span class="setting_year">1990г.</span>&nbsp;Рождение ЛЭШ под личным руководством Игоря Окштейна. Событие совершилось в дер. Фенево Невельского р-на Псковской области.</p>

<p><span class="setting_year">1991 г.</span>&nbsp;ЛЭШ в дер. Фенево Невельского р-на Псковской области.</p>

<p>От ЛЭШ отделяется идея создания <a class="nowrap" href="">детской учебной биостанции</a>&nbsp;в вышеупомянутой деревне.
	<p> Директор – Денис Жилин.</p>
</p>

<p><span class="setting_year">1992 г.</span>&nbsp;С. Челно-Вершины, в верховьях реки Челнинки (Самарская обл.).</p>

<p><span class="setting_year">1993 г.</span>&nbsp;Остров Мудьюг (Архангельская обл.) в Белом море.
	<p>Отмечен неуемным весельем, изобретением рецепта манки с грибами (вероятно, легенда), открытием доктором Боярским палки-училки и палки-лечилки, составлением ЛЭШевской генеалогии и войной Севера и Юга за освобождение итальянцев.</p><p> Директора: Игорь Окштейн (Юг) и Митя Александров (Север).</p>
	<p>Покровитель школы – Альберт Александрович, директор местного краеведческого музея.</p> 
	<p>Добрый дух школы – щенок Найда.</p>
</p>

<p><span class="setting_year">1994 г.</span>&nbsp;Дер. Большая Коша Тверской области – эпоха мирного процветания.</p>

<p><span class="setting_year">1995 г.</span>&nbsp;Растениеводческая станция под г. Крымском (Краснодарский край) – эпоха абсурда и вызревание принципов.</p>

<p><span class="setting_year">1996 г.</span>&nbsp;Дер. Броди Мошенского района Новгородской области. Рождение легенды о ЛЭШевском рае.
	
<p> Директора: Игорь Окштейн и Андрей Летаров.</p> 
Зарождение идеи гуманитарного отделения ЛЭШ. Эпоха архитектурных сооружений.</p>

<p><span class="setting_year">1997 г.</span>&nbsp;Дер. Броди Мошенского района Новгородской области. 
	<p>Эпоха школьных фресок и палеолитической стоянки.	Рождение гуманитарного отделения.</p>
	<p>Директора: Игорь Окштейн и Саша Архипова.</p>
</p>

<p><span class="setting_year">1998 г.</span>&nbsp;Дер. Речане Торопецкого р-на Тверской обл. – эпоха дождей, приведшая к осознанию ЛЭШ как ковчега цивилизации.
<p>Рождение математического отделения.</p></p>

<p><span class="setting_year">1999 г.</span>&nbsp;Пос. Первомайский Бондарского р-на Тамбовской обл. – II эпоха мирного процветания.
	<p>Директор гуманитарного отделения Б.Долгин и А.Архипова.	Рождение идеи <a href="">физического отделения.</a></p>
</p>

<p><span class="setting_year">2000 г.</span>&nbsp;Дер. Вогнема Кирилловского р-на Вологодской обл.<br> 
Вызревание идеи деления ЛЭШ и переход к коллективному руководству. 
	<p>Рождение медицинского отделения ЛЭШ под руководством Ирины Викторовны Леках.</p>
	<p>Директор физического отделения – Алексей Селиверстов.</p>
</p>

<p><span class="setting_year">2001 г.</span>&nbsp;Дер. Засижье Ярцевского р-на Смоленской обл. – III эпоха мирного процветания.</p> 

<p><span class="setting_year">2002 г.</span>&nbsp;Дер. Рудня Калужской обл.<br> Директор&nbsp;-&nbsp;Александр Доброчаев (Заец) и Алесь Серкин.</p>
</div>	
					</div>
						<img class="green_leaf" src="pict/green.png" />
			</div>
		</body>
</html>