<!DOCTYPE HTML>
<html>
    <head>
        <title> ЛЭШ </title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <!--<meta name="copyright" Content="http://yuliy.me" /> 
        <meta name="description" Content="бюджет" />
        <meta name="keywords" Content ="бюджет органайзер" />-->
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
			<div id="main">
				<div id="header">
				 <div class="p1"> </div>
				 <div class="p2"> </div>
			 	</div>

					<div id="sidebar1">
						<ul>
							<li style="font-size: 16px; color: #7AA643">ЛЭШ</li>
							<li><img src="pict/gr.gif" /><a href="reception.html">поступление</a></li>
							<li><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
							<li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
						</ul>
					</div>
					<div id="minibar"> 
						<ul>
							<li><a style="color: #769897" href="">вход</a>&nbsp;/</li> 
							<li><a href="">регистрация</a>&nbsp;/</li>
							<li><a href="">карта сайта</a></li>
						</ul>
					</div> 
					<div id="sidebar2">
						 <ul>
							<li style="width:80px"> <a href="">Фотоальбом</a></li>
							<li style="width:80px"><a href="aboutus.html">О нас пишут</a></li>
							<li style="width:50px"><a href="">Ссылки</a></li>
							<li style="width:45px"><a href="">Форум</a></li>
						</ul>
							<img src="pict/green.gif" />
					</div>

					<div id="text">
						<span> Здравствуйте!</span>

<p>Приветствуем Вас на сайте Летней Экологической Школы </p>

<p class="zaglav">Что такое летняя школа? </p>

<p>Летняя Экологическая Школа (ЛЭШ) - мероприятие, позволяющее школьнику во время летних каникул получить углубленные знания в выбранной области науки, среда для гармоничного развития личности в процессе формирования будущего ученого - специалиста. </p>

<p>ЛЭШ проводится ежегодно (начиная с 1990г.) в конце июля - конце августа, в сельской местности Европейской части России (как правило, в северных областях). Численность ЛЭШ около 200 человек, из которых школьники (разных классов, с 5-го по 10-й) составляют примерно две трети. Остальные - это студенты, аспиранты, молодые ученые разных специальностей. В течение месяца все эти люди живут в полевом лагере и обмениваются между собой информацией - в основном в форме учебных курсов. Занятия проходят обычно в кабинетах сельской школы.</p>

<p>На Школе есть <a href="">Биологическое</a>, Математическое, <a href="">Физическое</a>, Гуманитарное, <a href="">ФМБио</a>, <a href="">Медицинское Отделения</a> и <a href="">Отделение Лабораторно-полевой биологии</a>, ведущие активную совместную деятельность - межотделенческий семинар, курсы и факультативы. </p> 
				 	</div>

					<div id="text1">
						<div id="text2">
							<p style="font-size: 15px; color: black">подробнее</p>
							<p> Школа проводится с 23 июля по 24 августа на базе местной сельской школы, в здании которой проводятся занятия и располагаются необходимые помещения (медпункт, библиотека, лаборатории, и т.п.).....<a href="">далее</a></p>
							<hr>
							<p class="ie" style="font-size: 14px; color: white"><a href=""> документы и снаряжение</a></p>
						</div>
						<div id="text3">
							<p style="font-size: 15px; color: black">история</p>
							<p>Традиция летних школ зародилась в конце пятидесятых – начале шестидесятых годов двадцатого века, когда прошли первые летние семинары и школы по вторичным моделирующим системам и семиотике.....<a href="history.html">далее</a></p>
						</div>
						<img src="pict/white.gif" />	
					</div>
					<div id="footer">
						<a href=""><img src="pict/facebook.png" /></a>
						<a href="http://vk.com/club279809" alt="Вконтакте"><img src="pict/vkontakte.png" /></a>
					</div>
						<form class="searchform">
    						<input class="searchfield" type="text" value="Искать..." onfocus="if (this.value == 'Искать...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Искать...';}" />
    						<input class="searchbutton" type="image" name="submit" value="" />
						</form>
			</div>
		</body>
</html>