<!DOCTYPE HTML>
<html>
    <head>
        <title> ЛЭШ </title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <link href="reset.css" rel="stylesheet" type="text/css" />
        <link href="trebuc.ttf" rel="stylesheet" type="text/css">
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
			<div id="main">
				<div class="header">
					<div class="picture_logo"> </div>
					<div class="picture_title"> </div>
			 	</div>
					<div class="sidebar_top">
						<ul>
							<li class="big_green_word">ЛЭШ</li>
							<li><img src="pict/gr.gif" /><a href="reception.html">поступление</a></li>
							<li><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
							<li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
						</ul>
					</div>
						<div class="sidebar_bottom"> 
							<ul>
								<li><a class="small_green_word" href="">вход</a>&nbsp;/</li> 
								<li><a href="">регистрация</a>&nbsp;/</li>
								<li><a href="">карта сайта</a></li>
							</ul>
						</div> 
							<div class="sidebar_left">
								<ul>
									<li class="bar_left"> <a href="">Фотоальбом</a></li>
									<li class="bar_left"><a href="aboutus.html">О нас пишут</a></li>
									<li class="bar_left"><a href="">Ссылки</a></li>
									<li class="bar_left"><a href="">Форум</a></li>
								</ul>
									<img src="pict/green.gif" />
							</div>

					<div class="main_text">
						<span> Здравствуйте!</span>

<p class="nowrap">Приветствуем Вас на сайте Летней Экологической Школы </p>

<p class="heading">Что такое летняя школа? </p>

<p>Летняя Экологическая Школа (ЛЭШ)&nbsp;-&nbsp;мероприятие, позволяющее школьнику во&nbsp;время летних каникул получить углубленные знания в&nbsp;выбранной области науки, среда для&nbsp;гармоничного развития личности в&nbsp;процессе формирования будущего ученого&nbsp;-&nbsp;специалиста. </p>

<p>ЛЭШ проводится ежегодно (начиная с 1990г.) в конце июля - конце августа, в сельской местности Европейской части России (как правило, в северных областях). Численность ЛЭШ около 200 человек, из которых школьники (разных классов, с 5-го по 10-й) составляют примерно две трети. Остальные - это студенты, аспиранты, молодые ученые разных специальностей. В течение месяца все эти люди живут в полевом лагере и обмениваются между собой информацией - в основном в форме учебных курсов. Занятия проходят обычно в кабинетах сельской школы.</p>

<p>На Школе есть <a href="">Биологическое</a>, Математическое, <a href="">Физическое</a>, Гуманитарное, <a href="">ФМБио</a>, <a href="">Медицинское Отделения</a> и <a href="">Отделение Лабораторно-полевой биологии</a>, ведущие активную совместную деятельность&nbsp;-&nbsp;межотделенческий семинар, курсы и факультативы. </p> 
				 	</div>

					<div class="text_left">
						<div class="text_left_top">
							<p class="word_left_top">подробнее</p>
							<p class="indent"> Школа проводится с 23 июля по 24 августа на базе местной сельской школы, в здании которой проводятся занятия и располагаются необходимые помещения (медпункт, библиотека, лаборатории, и т.п.).....<a href="">далее</a></p>
							
							<p class="text_left_middle"><a href=""> документы и снаряжение</a></p>
						</div>
						<div class="text_left_bottom">
							<p class="word_left_top">история</p>
							<p class="indent">Традиция летних школ зародилась в конце пятидесятых – начале шестидесятых годов двадцатого века, когда прошли первые летние семинары и школы по вторичным моделирующим системам и семиотике.....<a href="history.html">далее</a></p>
						</div>
						<img src="pict/white.gif" />	
					</div>
					<div class="footer">
						<a href=""><img src="pict/facebook.png" /></a>
						<a href="http://vk.com/club279809" alt="Вконтакте"><img src="pict/vkontakte.png" /></a>
					</div>
						<form>
							<div class="searchform"> 
    							<input type="search" name="q">
    							<input type="submit" value="">
    						</div>
						</form>
			</div>
		</body>
</html>