<!DOCTYPE HTML>
<html>
    <head>
        <title> Медицинское отделение</title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <!--<meta name="copyright" Content="http://yuliy.me" /> 
        <meta name="description" Content="бюджет" />
        <meta name="keywords" Content ="бюджет органайзер" />-->
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
			<div id="main">
				<div id="header">
				 <div class="p1"> </div>
				 <div class="p2"> </div>
			 	</div>

					<div id="sidebar1">
						<ul>
							<li><a href="index.html">лэш</a></li>
							<li style="font-size: 16px; color: #7AA643"><img src="pict/gr.gif" />поступление</li>
							<li ><img src="pict/gr.gif" /><a href="target.html">задачи школы</a></li>
							<li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
						</ul>
					</div>
					<div id="minibar"> 
						<ul>
							<li><a href="reception.html">поступление на лэш</a>&nbsp;/</li> 
							<li><a style="color: #769897">медицинское отделение</a></li>
						</ul>
					</div> 
					<div id="sidebar2">
						 <ul>
							<li style="width:80px"> <a href="">Фотоальбом</a></li>
							<li style="width:80px"><a href="">О нас пишут</a></li>
							<li style="width:50px"><a href="">Ссылки</a></li>
							<li style="width:45px"><a href="">Форум</a></li>
						</ul>
							<img src="pict/green.gif" />
					</div>

					<div id="res">
						<span> Поступление на ЛЭШ</span>

<p>Способы поступления на отделения Школы несколько отличаются, но как правило, это собеседование с преподавателями отделения.</p>
<div id="med2">
	<p>Медицинское отделение ЛЭШ создано как группа школьников, проходящих специализированное обучение по направлениям медико-биологических дисциплин. Импульсом для создания отделения стали усилия многочисленных выпускников биологического отделения ЛЭШ, ставших студентами-медиками, а впоследствии врачами различного профиля, провизорами и другими медицинскими работниками.</p>
	<p>Набор школьников на отделение производится как внутренний (среди обучающихся в ЛЭШ на других отделениях) так и среди участников 2-го и 3-го тура ШБО МГУ. Набираются школьники 9-10 классов. Программа состоит из авторских профильных курсов, отдельно проводимых семинаров и практических занятий. Преподавание на отделении осуществляют практикующие врачи, врачи-исследователи, преподаватели и студенты медицинских ВУЗов и другие специалисты.</p>
	<p>Обучение на медицинском отделении ЛЭШ дает возможность старшеклассникам осознанного выбора будущей специальности, совершенно не обязательно связанной с медициной.</p>
	<p>Руководитель отделения - Вячеслав Горбоносов.</p>
</div>
<p><a href="">Биологическое отделение</a></p>
<p><a href="https://sites.google.com/site/maolesh">Математическое отделение</a></p>
<!--<p>Актуальная информация о способах поступления на математическое отделение изложена на сайте Математического Отделения в разделе <a href="">"Как поступить?"</a></p>-->
<p><a href="http://fizlesh.ru">Физическое отделение</a></p>
<!--<p>Полные и актуальные правила набора на физическое отделение изложены на сайте отделения в разделе <a href="">"Поступление"</a>. В двух словах - кандидаты проходят собеседование, а также на майских праздниках проводятся традиционные двудневные выходы в лес, где школьникам даются некоторые несложные экспериментальные задачи.</p>-->
<p><a href="">Гуманитарное отделение</a></p>
<!--<p>Гуманитарное отделение работает на протяжении первых двух циклов ЛЭШ (12 дней) и всей ЗЭШ (Зимней школы).</p>
<p>Поступление на гуманитарное отделение ЛЭШ и ЗЭШ осуществляется по решению директора отделения по итогам собеседования. Принимаются школьники 6-10 (ЛЭШ) ~ 6-11 (ЗЭШ) классов. При прочих равных условиях преимущество имеют школьники не из Москвы, готовые лично приехать на собеседование (время может быть согласовано).</p>
<p>Собеседование состоит в решении некоторого количества (в основном нестандартных) задач и заданий по разным гуманитарным (и не только) дисциплинам - лингвистике, истории, мифологии, литературоведению и т.д.,а иногда и просто "на сообразительность", и их обсуждении.</p>
<p>Собеседование на ЛЭШ проходит в конце марта - апреле, собеседование на ЗЭШ - ориентировочно в ноябре. Для того, чтобы принять участие в собеседовании, необходимо до 10 марта (ЛЭШ) ~ до 31 октября (ЗЭШ) написать директору отделения Илье Иткину по адресу <a href="">isv (собака) gol.ru </a>или связаться с ним иным образом.</p>
<div id="resV"><span>ВНИМАНИЕ! Число мест на гуманитарном отделении ОЧЕНЬ ограничено!</span></div>-->
<p><a href="http://olpbio.ucoz.ru">Отделение ОЛПБио</a></p>
<p><a href="">Отделение ФМБио</a></p>
<div id="med"><p>Медицинское отделение</p></div>
				 	</div>
			</div>		
		</body>
</html>