<!DOCTYPE HTML>
<html>
    <head>
        <title> Задачи школы</title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <link href="reset.css" rel="stylesheet" type="text/css" />
        <link href="trebuc.ttf" rel="stylesheet" type="text/css">
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
			<div id="main">
				<div class="header">
					<div class="picture_logo"> </div>
					<div class="picture_title"> </div>
			 	</div>
					<div class="sidebar_top">
						<ul>
							<li><a href="index.html">лэш</a></li>
							<li><img src="pict/gr.gif" /><a href="reception.html">поступление</a></li>
							<li class="big_green_word"><img src="pict/gr.gif" />задачи школы</li>
							<li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
						</ul>
					</div>
						<div class="sidebar_bottom"> 
							<ul>
								<li></li> 
							</ul>
						</div> 
							<div class="sidebar_left">
								<ul>
									<li class="bar_left"> <a href="">Фотоальбом</a></li>
									<li class="bar_left"><a href="aboutus.html">О нас пишут</a></li>
									<li class="bar_left"><a href="">Ссылки</a></li>
									<li class="bar_left"><a href="">Форум</a></li>
								</ul>
									<img src="pict/green.gif" />
							</div>

					<div class="main_text">
						<span> Задачи школы</span>

<p>Основная задача Школы - создание коллектива детей и взрослых, являющегося «действующей моделью» научного сообщества.
</p>
	<ul class="bullet">
		<li class="bullet">такая система резко расширяет границы самореализации школьников во всех областях образования и научной деятельности
		</li>
		<li class="bullet">обучение школьников по интенсивным программам позволяет подготавливать высококлассных будущих специалистов и преподавателей
		</li>
		<li class="bullet">в ходе подготовки Школы разрабатываются новые учебные программы для средних школ и дополнительного образования.
		</li>
	</ul>
<p>При этом будущие преподаватели Школы частью подготавливаются из ранее обучавшихся в Школе учеников. На Школе они приобретают опыт методической работы и впоследствии часто продолжают работать в этой области. 
</p>
<p>Целый комплекс мероприятий делает Школу моделью научного сообщества:
</p> 
	<ul class="bullet">
		<li class="bullet">школьники выполняют самостоятельные работы и защищают их в конце Школы
		</li>
		<li class="bullet">работает научный семинар преподавателей (на его заседания допускаются все желающие, но доклады готовятся в расчете на профессионалов; студент или даже школьник может выступить на нем с коротким сообщением по вопросу, в котором является специалистом)
		</li>
	</ul> 
<p>Некоторые преподаватели специально подбирают перед Школой комплекты статей, позволяющие достаточно знающему школьнику за 2-3 дня разобраться в какой-либо интересной области исследований последних лет и рассказать о ней на научном семинаре.С другой стороны, по нашим правилам любой участник ЛЭШ может в любой момент Школы организовать собственные факультативные занятия, вести их самостоятельно, либо приглашать кого-либо для их проведения. Таким образом, школьники и студенты получают на ЛЭШ некоторый опыт профессиональной деятельности.</p>
			 		</div>

					<div class="right_text">
<div class="indent_form">
<div class="title_as_chronicle"><p class="indent">Принципы обучения:</p></div>

<p><span class="only_bold">Цель обучения</span> - формирование у школьника единой научной картины мира.<p>

<p>При планировании программы Экологической Школы предпочтение отдается междисциплинарным учебным курсам, дающим интегрированное представление об окружающем мире.</p>

<p>Программа каждого класса дает школьнику сумму знаний, резко расширяющую круг понятной для него научной и научно-популярной литературы, а также практические навыки экспериментальной работы.</p>

<p>Содержание учебных курсов в целом соответствует современному уровню знаний в соответствующей области.</p>

<p>Сложные для понимания научные факты могут в крайнем случае "опускаться", но никогда - искажаться ради упрощения.</p>
</div>	
					</div>

					<div class="bottom_text">
						<div class="nowrap">
							Педагогические принципы Экологической Школы
						</div>
							<p>Самоопределение:</p>
								<ol>
									<li>На Школе постоянно проводится большое число разнообразных факультативных занятий, мероприятий культурной программы, что заставляет школьника все время выбирать одну из многих возможностей, определяться в отношении наиболее предпочтительной для себя деятельности.
									</li>
									<li>Набор факультативных занятий должен соответствовать спектру психологических особенностей участников Школы: среди них должны быть теоретические и практические, научные и творческие, ориентированные на разные возраста.
									</li>
									<li>Взрослые на Школе достаточно разнообразны в психолого-поведенческом отношении и склонны формировать вокруг себя детские и смешанные детско-взрослые коллективы, объединенные той или иной совместной деятельностью.</li>
										<ul class="bullet">
									 		<li class="bullet">каждый школьник ежедневно проводит время по очереди в 3-5 подобных коллективах, причем 1-3 из них он имеет возможность не посещать, проводить в них больше или меньше времени, посетить вместо них другие, ранее не посещавшиеся им коллективы
									 		</li>
								 			<li class="bullet">это позволяет школьнику проводить существенную часть времени очень комфортным для себя образом, а также разнообразные возможности для личностного развития
								 			</li>
											<li class="bullet">по окончании Школы поведение подавляющего большинства детей становится гораздо более разнообразным и раскованным, а их представления о наиболее предпочтительной для себя деятельности - гораздо более определенными
											</li>
										</ul>
								</ol>
							<p>Педагогика сотрудничества:</p>
								<ol>
									<li>За счет присутствия на Школе студентов стирается резкая граница между школьниками и преподавателями. Студенты посещают часть занятий в качестве преподавателей или помощников преподавателя, а часть - в качестве учащихся. Многие из них образуют со старшеклассниками общие неформальные коллективы, помогают им при подготовке к занятиям, выполняют совместно с ними самостоятельные работы.
									</li>
									<li>Среди преподавателей принято относиться к школьникам и студентам как к коллегам по научной деятельности. В первую очередь это означает: внимательно и уважительно воспринимать их поступки и суждения, уважать их самостоятельность и компетентность).
									</li>
									<li>Любой участник Школы (в том числе - школьник) может объявить о новом курсе факультативных занятий, самостоятельно провести (или организовать) эти занятия.
									</li> 							
										<div class="indent_border">Практика показывает, что неудачные занятия вскоре начинают проваливаться за отсутствием аудитории, независимо от того, школьник или преподаватель их проводит. Все участники занятий приучаются высказывать свое мнение о них, в том числе, в форме конструктивной критики в конце этих занятий.
										</div>
									<p><li>Претензии к школьнику со стороны преподавателей, завхоза или любого другого участника Школы в сложных случаях рассматриваются куратором либо директором Школы, которые обычно занимают доброжелательную позицию типа: «К тебе имеются такие-то претензии... Эта ситуация, вероятно, будет иметь такие-то последствия... Что я могу сделать для того, чтобы у тебя больше не возникало таких проблем?»
									</li>
									<li>В случае, если школьнику по той или иной причине не нравятся обязательные занятия, ему обычно разрешают составить индивидуальный учебный план.
									</li></p> 
								</ol>
				 	</div>
			</div>
		</body>
</html>