<!DOCTYPE HTML>
<html>
    <head>
        <title> Задачи школы</title>
        <meta http-equiv="content-type" content="text/html; Charset=Windows-1251" />
        <!--<meta name="copyright" Content="http://yuliy.me" /> 
        <meta name="description" Content="бюджет" />
        <meta name="keywords" Content ="бюджет органайзер" />-->
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
			<div id="main">
				<div id="header">
				 <div class="p1"> </div>
				 <div class="p2"> </div>
			 	</div>

					<div id="sidebar1">
						<ul>
							<li><a href="index.html">лэш</a></li>
							<li><img src="pict/gr.gif" /><a href="reception.html">поступление</a></li>
							<li style="font-size: 16px; color: #7AA643"><img src="pict/gr.gif" />задачи школы</li>
							<li><img src="pict/gr.gif" /><a href="">олимпиады</a></li>
						</ul>
					</div>
					<div id="minibar"> 
						<ul>
							<li><a style="color: white">задачи школы</a></li>
						</ul>
					</div> 
					<div id="sidebar2">
						 <ul>
							<li style="width:80px"> <a href="">Фотоальбом</a></li>
							<li style="width:80px"><a href="">О нас пишут</a></li>
							<li style="width:50px"><a href="">Ссылки</a></li>
							<li style="width:45px"><a href="">Форум</a></li>
						</ul>
							<img src="pict/green.gif" />
					</div>

					<div id="text">
						<span> Задачи школы</span>

<p>Основная задача Школы - создание коллектива детей и взрослых, являющегося «действующей моделью» научного сообщества.</p>
<p style="padding-left:20px">&ndash;такая система резко расширяет границы самореализации школьников во всех областях образования и научной деятельности;<br>&ndash;обучение школьников по интенсивным программам позволяет подготавливать высококлассных будущих специалистов и преподавателей;<br>&ndash;в ходе подготовки Школы разрабатываются новые учебные программы для средних школ и дополнительного образования.</p>

<p>При этом будущие преподаватели Школы частью подготавливаются из ранее обучавшихся в Школе учеников. На Школе они приобретают опыт методической работы и впоследствии часто продолжают работать в этой области. </p>

<p><strong>Целый комплекс мероприятий делает Школу моделью научного сообщества:</strong></p> 
<p style="padding-left:20px">&ndash;школьники выполняют самостоятельные работы и защищают их в конце Школы;<br>
&ndash;работает научный семинар преподавателей (на его заседания допускаются все желающие, но доклады готовятся в расчете на профессионалов; студент или даже школьник может выступить на нем с коротким сообщением по вопросу, в котором является специалистом).</p> 
<p>Некоторые преподаватели специально подбирают перед Школой комплекты статей, позволяющие достаточно знающему школьнику за 2-3 дня разобраться в какой-либо интересной области исследований последних лет и рассказать о ней на научном семинаре.С другой стороны, по нашим правилам любой участник ЛЭШ может в любой момент Школы организовать собственные факультативные занятия, вести их самостоятельно, либо приглашать кого-либо для их проведения. Таким образом, школьники и студенты получают на ЛЭШ некоторый опыт профессиональной деятельности.</p>
				 	</div>

					<div id="chronic">
<div id="chronic1">
<div class="zagl"><span class="chronic">Принципы обучения:</span></div>

<p><strong>Цель обучения - формирование у школьника единой научной картины мира.</strong><p>

<p>При планировании программы Экологической Школы предпочтение отдается междисциплинарным учебным курсам, дающим интегрированное представление об окружающем мире.</p>

<p>Программа каждого класса дает школьнику сумму знаний, резко расширяющую круг понятной для него научной и научно-популярной литературы, а также практические навыки экспериментальной работы.</p>

<p>Содержание учебных курсов в целом соответствует современному уровню знаний в соответствующей области.</p>

<p>Сложные для понимания научные факты могут в крайнем случае "опускаться", но никогда - искажаться ради упрощения.</p>
</div>	
					</div>

					<div id="principles">
						<div class="zagl"><span> Педагогические принципы Экологической Школы</span></div>

<p><strong>Самоопределение</strong></p>
	<ol>
		<li>На Школе постоянно проводится большое число разнообразных факультативных занятий, мероприятий культурной программы, что заставляет школьника все время выбирать одну из многих возможностей, определяться в отношении наиболее предпочтительной для себя деятельности.
		</li>
		<li>Набор факультативных занятий должен соответствовать спектру психологических особенностей участников Школы: среди них должны быть теоретические и практические, научные и творческие, ориентированные на разные возраста.
		</li>
		<li>Взрослые на Школе достаточно разнообразны в психолого-поведенческом отношении и склонны формировать вокруг себя детские и смешанные детско-взрослые коллективы, объединенные той или иной совместной деятельностью.</li>
	 	<p style="padding-left:30px; width:450px; text-align:justify">&ndash;каждый школьник ежедневно проводит время по очереди в 3-5 подобных коллективах, причем 1-3 из них он имеет возможность не посещать, проводить в них больше или меньше времени, посетить вместо них другие, ранее не посещавшиеся им коллективы;<br>
 		&ndash;это позволяет школьнику проводить существенную часть времени очень комфортным для себя образом, а также разнообразные возможности для личностного развития;<br> 
		&ndash;по окончании Школы поведение подавляющего большинства детей становится гораздо более разнообразным и раскованным, а их представления о наиболее предпочтительной для себя деятельности - гораздо более определенными.</p>
	</ol>
<p><strong>Педагогика сотрудничества</strong></p>
	<ol>
		<li>За счет присутствия на Школе студентов стирается резкая граница между школьниками и преподавателями. Студенты посещают часть занятий в качестве преподавателей или помощников преподавателя, а часть - в качестве учащихся. Многие из них образуют со старшеклассниками общие неформальные коллективы, помогают им при подготовке к занятиям, выполняют совместно с ними самостоятельные работы.
		</li>
		<li>Среди преподавателей принято относиться к школьникам и студентам как к коллегам по научной деятельности. <br><br><strong>в первую очередь это означает:</strong> внимательно и уважительно воспринимать их поступки и суждения, уважать их самостоятельность и компетентность).
		</li>
		<li>Любой участник Школы (в том числе - школьник) может объявить о новом курсе факультативных занятий, самостоятельно провести (или организовать) эти занятия.</li> 
		<p style="padding:10px; padding-left:30px; width:450px; text-align:justify; background:#D0C4A3"><strong>Практика показывает</strong>, что неудачные занятия вскоре начинают проваливаться за отсутствием аудитории, независимо от того, школьник или преподаватель их проводит. Все участники занятий приучаются высказывать свое мнение о них, в том числе в форме конструктивной критики в конце этих занятий.</p>
		<li>Претензии к школьнику со стороны преподавателей, завхоза или любого другого участника Школы в сложных случаях рассматриваются куратором либо директором Школы, которые обычно занимают доброжелательную позицию типа: «К тебе имеются такие-то претензии... Эта ситуация, вероятно, будет иметь такие-то последствия... Что я могу сделать для того, чтобы у тебя больше не возникало таких проблем?»
		</li>
		<li>В случае, если школьнику по той или иной причине не нравятся обязательные занятия, ему обычно разрешают составить индивидуальный учебный план.
		</li> 
	</ol>
				 	</div>
						<img class="ih" src="pict/green.png" />
			</div>
		</body>
</html>