from flask_login import current_user


def personalize(func):
    def wrapper():
        return func(current_user=current_user)
    return wrapper


{% for decorator in decorators %}
def {{ decorator }}(func):
    raise NotImplementedError


{% endfor %}