{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pack/login.css') }}">
{% endblock %}
{% block js %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="login-manager">
        <a href='/login/authorize/facebook'><div class="login-manager__entry">facebook</div></a>
        <a href='/login/authorize/vk'><div class="login-manager__entry">Вконтакте</div></a>
        <a href='/login/authorize/yandex'><div class="login-manager__entry">Яндекс</div></a>
        <a href='/login/authorize/google'><div class="login-manager__entry">google</div></a>
        <form class="login-manager__entry" action="" method="post">
            {{ form.csrf }}
            <div class="login-manager__entry">
                <table class="login-manager__form-table">
                    <tbody>
                    <tr>
                        <td>
                            {{ form.login.label }}
                        </td>
                        <td>
                            {{ form.login }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.password.label }}
                        </td>
                        <td>
                            {{ form.password }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.min.js') }}"></script>
{% endblock %}