.modal {
    position: fixed;
    top: 32px;
    left: 32px;
    right: 32px;
    bottom: 32px;
    border-radius: 5px;
    border: solid 1px #000000;
    box-shadow: 0 0 20px 20px gray;
    background-color: lavender;
    z-index: 2;
}
