{% from "components/horizontal_nav.html" import horizontal_nav_html, horizontal_nav_js, horizontal_nav_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='emblems/favicon.svg') }}">
    {{ horizontal_nav_css() }}
    {% block styles %}
    {% endblock %}
    {{ horizontal_nav_js() }}
    {% block js %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body id="body">
{{ horizontal_nav_html(menu, person) }}
{% block content %}
{% endblock %} jinja
</body>
{% block tail_js %}
{% endblock %}
</html>