@import "fio/fio";
@import "department/department";
@import "contacts/contacts";

.person__title__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 40px;
}