.input-container {
  box-sizing: border-box;
  padding: 1.5em;
  position: relative;
}

.input-container input {
  width: 100%;
  height: 2.5em;
  margin: 5px auto;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  box-sizing: border-box;
  position: relative;
}

.input-container input:focus {
  outline: none;
}

.input-container label {
  font-size: 1em;
  position: absolute;
  top: 2em;
  left: 1.5em;
  transition: 0.2s ease all;
}

.input-container .focused {
  font-size: 1em;
  position: absolute;
  top: 1em;
  left: 1.5em;
}