td.xsm-main-field h1 {
    text-indent: 0px;
    font-size: 20px;
}

td.xsm-main-field h2 {
    text-indent: 0px;
    font-size: 16px;
}

table.ankList {
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    border: 0px solid #8faf6f;
    font-size: 9pt;
    margin-bottom: 10px;
}

table.ankList tr:hover {
    background-color: #b2dba0;
}

td.ankListRowDiv {
    height: 8px;
}

td.ankListRowTitle, th.ankList, td.ankList {
    vertical-align: middle;
    border: 1px solid #8faf6f;
    padding: 3px;
    padding-left: 5px;
}

td.ankList, th.ankList {
    text-align: left;
}

td.ankList.c {
    text-align: center;
}

td.ankListRowTitle, th.ankList {
    background-color: #9fdf8f;
}

td.school-selection {
    vertical-align: middle;
    background-color: #9fdf8f;
    border: 1px solid #8faf6f;
    padding: 3px;
    height: 19px;
}

td.school-selection.current {
    background-color: #ffee99;
}

td.school-selection a {
    text-align: center;
    display: block;
}

td.school-selection div {
    position: relative;
}

td.school-selection a.edit-link {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: left;
    display: inline-block;
}

tr.teacher td.ankList,
b.teacher {
    background-color: #b5b16f;
}

tr.teacher a {
    color: #004f00;
}

tr.not-msk-city td.ankList,
b.not-msk-city {
    background-color: #7fffaf;
}

tr.far-city td.ankList,
b.far-city {
    background-color: #7fcfff;
}

tr.not-msk-city td.ankList.status-col,
tr.far-city td.ankList.status-col,
td.ankList.status-col {
    background-color: #9ec78b;
}

b.far-city,
b.not-msk-city,
b.teacher {
    padding: 1px 3px 1px 3px;
}

span.ankListField {
    font-weight: bold;
}

span.ankListField.next {
    padding-left: 10px;
}

span.ankEditField {
    font-weight: bold;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

span.ankEditField.mid {
    vertical-align: middle;
}

span.ank-edit-item {
    font-weight: normal;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

span.ank-edit-item.action {
    font-weight: bold;
}

input[readonly='readonly'] {
    background-color: #cceeaa;
}

table.ankEdit {
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    border: 0px solid #8faf6f;
    font-size: 9pt;
}

a.link-button.ank {
    vertical-align: middle;
}

/* forest status */
span.forest-status {
    font-weight: bold;
}
span.forest-status.undef {
    color: #7f7f7f;
}
span.forest-status.notable {
    color: #ff0000;
}
span.forest-status.no {
    color: #7f0000;
}
span.forest-status.maybe {
    color: #0000ff;
}
span.forest-status.able {
    color: #009f00;
}
span.forest-status.yes {
    color: #007f00;
}

/* statuses */
span.exam-status {
    font-weight: bold;
}
span.course-area {
    font-weight: bold;
}
span.course-type {
    font-weight: bold;
}
/* ----------- */

img.edit-icon {
    vertical-align: middle;
    margin-right: 2px;
}

input.xsm-save-button {
    margin-left: 0px;
    margin-top: 5px;
}

input.delete-button {
    margin-top: 5px;
    background-color: #ff9f7f;
    color: #2f2f00;
    background-image: url('../../pic/delete.gif');
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: 2px 50%;
}

input.delete-button.item {
    margin-top: 1px;
    margin-bottom: 1px;
}

div.delete-warning {
    font-size: 11pt;
    color: #9f0000;
}

.link-oper {
    margin-left: 10px;
}

.link-oper-list {
    margin-right: 10px;
}

span.link-oper-list {
    border-bottom: 1px dotted black;
}

div.line {
    padding-top: 5px;
    padding-bottom: 5px;
}

a.popup-link {
    text-decoration: none;
    border-bottom: 1px dotted;
}

span.present {
    float: right;
    margin-right: 3px;
    font-weight: bold;
}

div.xsm-help-widget {
    /* design-specific settings here, see xsm.css */
    border: 1px solid #005f00;
    background-color: rgb(187, 213, 175);
}

div.xsm-navbar {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

a.xsm-menu-item {
    vertical-align: middle;
    background-color: rgb(202, 235, 98);
    border: 1px solid #8faf6f;
    border-left: none;
    padding: 3px 0px 3px 0px;
    width: 12%;
    text-align: center;
    display: inline-block;
}

a.xsm-menu-item.first {
    border-left: 1px solid #8faf6f;
}

a.xsm-menu-item.current {
    background-color: #ffee99;
}

span.phone.error {
    color: #7f0000;
    border-bottom: 1px dotted #ff7f00;
}

span.pb {
    padding: 0px 1px;
    color: #646464;
}

form#filter-form {
    margin-bottom: 2px;
}

a.person-to-list {
    font-size: 12px;
    font-weight: normal;
}

.input-disabled {
    color: #7e975b !important;
}
