@import "__modal/bug-reporter__modal";
@import "__header/bug-reporter__header";
@import "__heading/bug-reporter__heading";
@import "__toggler/bug-reporter__toggler";

.bug-reporter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bug-reporter {
  position: fixed;
  bottom: 0;
  width: 100%;
}
