html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(pict/use_your_illusion.png);
    background-color: black;
    background-position: center;
    background-repeat: repeat;
    color: #4f4f4f;
    font-size: 12px;
    overflow: auto;
}

* html{
    height: 100%;
    overflow: auto;
}

@font-face {
    font-family: "Trebuchet MS", sans-serif;
    src: url('trebuc.eot'); /* IE9 */
    src: url('trebuc.eot?') format('eot'),  /* IE6-IE8 */
    url('trebuc.woff') format('woff'), /* Современные браузеры */
    url('trebuc.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('trebuc.svg#svgtrebuc') format('svg'); /* iOS */
}

//@font-face {
//   font-family: mytrebuc, sans-serif;
//    /*src: url('trebuc.eot');
//    src: url('trebuc.eot?') format('eot');
//    src: url('trebuc.woff') format('woff');*/
//    src: url('trebuc.ttf') format('truetype');
//   /*src: url('trebuc.svg#svgtrebuc') format('svg');*/
//}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    font-family: "Trebuchet MS", "Helvetica CY", "Luxi Sans", sans-serif;
}

div#content-header {
    font-size: 18px;
    font-weight: bold;
    color: #4f4f4f;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    color: #4f4f4f;
    margin-top: 18px;
    margin-bottom: 0px;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: #4f4f4f;
    margin-top: 10px;
    margin-bottom: 0px;
}

.indent_form a,
.main_text a, .bottom_text a,
.length_of_text a{
    font-size: 14px;
    color: #4F4F4F;
}

.indent_form a:hover,.main_text a:hover,
.text_left_top a:hover, .text_left_bottom a:hover,
.bottom_text a:hover, .length_of_text a:hover {
    color: #CD3700;
}

.text_left_top a, .text_left_bottom a{
    color: white;
}

#main{
    margin: 0px auto;
    width: 700px;
    min-height: 100%;
    background: white;
    background-attachment: fixed;
    overflow: auto;
    font-family: "Trebuchet MS", "Helvetica CY", "Arial", sans-serif;
}

.header{
    margin: 0;
    height: 130px;
}

.header .picture_logo{
    padding-left: 70px;
    background-image: url(pict/lesh-logo-100.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    float: left;
}

.header .picture_title{
    background-image: url(pict/lesh.gif);
    background-repeat: no-repeat;
    width: 500px;
    height: 130px;
    float: right;
}

.sidebar_top {
    width: 300px;
    float: left;
    padding-left: 50px;
}

.sidebar_top ul{
    list-style-type: none;
    font-size: 14px;
}

.sidebar_top ul li, .sidebar_bottom ul li{
    display: inline;
    line-height:12px;
    color: black;
}

.sidebar_top li.big_green_word{
    font-size: 16px;
    color: #7AA643;
}

.sidebar_bottom ul{
    font-size: 12px;
    padding-top: 10px;
}

.sidebar_bottom a{
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.sidebar_bottom a.small_green_word{
    color: #769897;
}

.sidebar_top img{
    width: 7px;
    height: 7px;
    padding-right: 3px;
}

.sidebar_top a {
    text-decoration: none;
    color: black;
}

.sidebar_top a:hover{
    text-decoration: none;
    color: #7AA643;
}

.sidebar-right {
    width: 240px;
    float: right;
}

.sidebar-right ul{
    font-size: 14px;
    font-family: "Trebuchet MS", "Helvetica CY", "Arial", "Lucida Sans", sans-serif;
}

.sidebar-right ul li{
    display: block;
    line-height:22px;
}

.sidebar-right img{
    width: 69px;
    height: 85px;
    float: right;
    padding-right: 30px;
    margin-top:  -80px;
    _width: 0px;
    _height: 0px;
    _float: none;
    _margin-top: 0px;
    _margin-right: 0px;
}

.sidebar-right a {
    text-decoration: none;
    font-size: 14px;
    line-height: 13px;
    color: #555;
    padding: 3px 5px 3px 5px;
    display: inline-block;
    width: 100px;
}

.sidebar-right a:hover {
    text-decoration: none;
    background-color: #7AA643;
    color: white;
    padding: 3px 5px 3px 5px;
}

.sidebar_bottom {
    padding-left: 50px;
    clear: both;
}

.main_text {
    position: relative; /* to position edit buttons */
    clear: both;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 0px;
    text-align: left;
    line-height: 18px;
    _padding-top: 0px;
    _margin-top: -50px;
}

.main_text p, .bottom_text p,
.length_of_text p{
    font-size: 14px;
    color: black;
    padding-top: 15px;
}

.main_text p {
    padding-right: 20px;
}

.bottom_text p.top{
    font-size: 14px;
    color: black;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: -20px;
}

.main_text p.nowrap{
    font-size: 14px;
    color: black;
    padding-top: 15px;
    white-space: nowrap;
}

.bottom_text div.nowrap{
    width: 380px;
    background-color: #79A544;
    font-size: 16px;
    color: white;
    padding: 7px 0px 7px 0px;
    padding-left: 50px;
    margin-left: -50px;
    white-space: nowrap;
}

.main_text p.padding_left{
    padding-left:20px;
}

.bottom_text p.padding{
    padding: 5px 0px 5px 10px;
}

.main_text span.only_bold,
.right_text p.only_bold,
.grey_fond span.only_bold,
.indent_form span.only_bold,
.length_of_text p.only_bold{
    font-weight: bold;
    font-size: 14px;
}

.main_text ul.bullet,
.bottom_text ul.bullet{
    list-style-type: disc;
    padding-left: 50px;
    padding-top: 15px;
}

.main_text li.bullet,
.bottom_text li.bullet,
.bottom_text ol li,
.length_of_text ol li,
p.grey_fond{
    color: black;
    font-size: 14px;
}

.bottom_text{
    clear: both;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 20px;
    text-align: left;
    line-height: 18px;
    _padding-top: 0px;
    _margin-top: -50px;
}

.bottom_text p.title_bold{
    margin-top: -15px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.length_of_text{
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 30px;
    float: left;
    text-align: left;
    line-height: 18px;
    _padding-top: 0px;
    _margin-top: -50px;
}

.length_of_text p.indent,
.right_text .indent_form p,
.right_text .indent_form p,
.length_of_text li.indent{
    padding-top: 10px;
}

.right_text p.indent{
    padding-top: 7px;
}

.right_text a.after_year,
.right_text span.after_year{
    padding: 7px 0px 0px 10px;
}

.length_of_text p.note_bottom{
    padding-bottom: 10px;
    margin-left: -30px;
    font-size: 12px;
}

.length_of_text img{
    float: right;
    width: 420px;
    height: 324px;
    padding-top: 20px;
}

#main div.big_grey_fond {
    width: 100%;
    height: 270px;
    background: #EBECEC;
    padding: 0px 30px 10px 50px;
    margin-left: -50px;
    margin-top: 20px;
}

.length_of_text .big_grey_fond img{
    float: right;
    width: 340px;
    height: 247px;
    padding-top: 10px;
}

.length_of_text.big_grey_fond p{
    width: 250px;
    float: left;
    font-size: 14px;
    color: black;
    padding-top: 10px;
}

.length_of_text ol.indent,
.bottom_text ol.indent_minus{
    margin-left: -30px;
}

.bottom_text ol.indent,
.length_of_text ol.shift{
    margin-left: 50px;
}

.bottom_text p.indent{
    margin-left: 20px;
}

.left_column{
    width: 250px;
    padding: 0px 7px 7px 7px;
    padding-left: 50px;
    margin-left: -50px;
}

.green_stripe{
    width: 250px;
    background: #79A544;
    padding-left: 50px;
    margin-left: -50px;
    margin-top: 10px;
}

.big_green_stripe{
    width: 645px;
    background: #79A544;
    padding-left: 50px;
    margin-left: -50px;
    margin-top: 10px;
}

.green_stripe p{
    color: white;
    font-size: 14px;
    padding: 5px 5px 5px 0px;
}

.bottom_text p.big_green_stripe{
    color: white;
    font-size: 14px;
    padding: 5px 5px 5px 50px;
}

.bottom_text p.brown_stripe,
.length_of_text p.brown_stripe{
    width: 260px;
    background: #D0C4A3;
    color: black;
    font-size: 14px;
    padding: 5px 5px 5px 50px;
    margin-left: -50px;
    margin-top: 10px;
}

.bottom_text div.middle_brown_stripe{
    width: 490px;
    background: #D0C4A3;x;
    margin-left: -100px;
    margin-top: 10px;
}

.bottom_text div.middle_brown_stripe p{
    color: black;
    font-size: 14px;
    padding: 5px 0px 5px 100px;
    white-space: nowrap;
}

.grey_fond {
    width: 400px;
    background: #EBECEC;
    float: right;
    padding: 0px 30px 10px 10px;
    line-height: 18px;
    margin-top: 10px;
    margin-right: -30px;
}

.length_of_text a.left_column_link{
    color: #4F4F4F;
    font-size: 14px;
}

.length_of_text a:hover.left_column_link{
    color: #CD3700;
    font-size: 14px;
}

.bottom_text ol,
.length_of_text ol{
    list-style-type: decimal;
    padding-top: 15px;
    margin-left: 20px;
}

.bottom_text div.indent_border{
    width: 450px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 15px;
    border: 3px solid #79A544;
    color: black;
    font-size: 14px;
}

#main p.heading{
    background-color: #D0C4A3;
    width: 395px;
    height: 20px;
    padding: 2px 0px 2px 7px;
    margin-top: 15px;
    /*_background-color: transparent;
    _width: 300px;
    _height: 0px;
    _padding: 0px;*/
}

.text_left{
    background-color:  #D0C4A3;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 250px;
    float: right;
    line-height: 18px;
}

.right_text{
    background-color:  #EBECEC;
    color: black;
    margin-top: 15px;
    width: 250px;
    float: right;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
}

.right_text div.indent_form{
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.right_text span.setting_year{
    background: #7A9181;
    color: white;
    width: 250px;
    padding:2px 5px 2px 15px;
    margin-left: -15px;
}

.indent_form div.title_as_chronicle{
    background: #79A544;
    color: white;
    width: 235px;
    padding:2px 0px 7px 15px;
    margin-left: -15px;
    font-size: 16px;
    vertical-align: middle;
}

img.white-leaf {
    width: 58px;
    height: 55px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#main img.green_leaf{
    width: 58px;
    height: 55px;
    float: left;
    padding-left: 50px;
    padding-top: 30px;
    _width: 0px;
    _height: 0px;
    _float: none;
    _padding-left: 0px;
}

.text_left_top{
    width: 200px;
    background-color:  #83ac9b;
    padding: 5px 20px 20px 20px;
    margin-left: 10px;
    margin-top: -30px;
    text-align: left;
    border-bottom: 3px solid white;
    line-height: 18px;
    margin-top: -15px\9;
    _margin-top: -2px;
    position: relative;
}

.text_left_top , x:-moz-any-link{
    background-color:  #769897;
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top: -15px;/* Для Firefox и Safari*/
    margin-top: -15px\9;
    width: 200px;
    float: right;
    text-align: left;
    word-spacing: 3px;
    border-bottom: 3px solid white;
}

.text_left_top p.word_left_top,
.text_left_bottom p.word_left_top{
    font-size: 15px;
    color: black;
    padding-bottom: 10px;
}

.text_left_top, .text_left_bottom p{
    font-size: 13px;
    color: black;
}

.text_left_top p.text_left_middle {
   font-size: 14px;
   color: white;
   padding-top: 20px;
    _padding-bottom: 30px;
}

@-moz-document url-prefix(){.text_left_top p.text_left_middle{
    padding-bottom: 30px; /* Для FireFox*/
}}

*|html[xmlns*=""].text_left_top p.text_left_middle{
    padding-bottom: 30px; /* Для Opera*/
}

.text_left_top p.text_left_middle:not(:root:root){
    padding-bottom: 30px; /* Для Safari*/
}

img.arrow {
    width: 30px;
    height: 11px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.text_left_bottom{
    width: 200px;
    background-color: #D0C4A3;
    padding: 10px 0px 0px 30px;
    text-align: left;
    line-height: 18px;
}

.footer{
    width: 100px;
    position: relative;
    clear: both;
    float: right;
    padding-top: 10px;
    margin-right: 150px;
    _padding-top: 20px;
    _margin-right: 79px;
}

.footer img{
    border:0px none; /*для IE */
}

.footer a, .footer a:hover{
    text-decoration: none;
}

.searchform {
    width: 240px;
    clear: both;
    float: right;
    border: 1px solid #83AC9B; /* Параметры рамки */
    border-radius:10px;
    min-height: 30px; /* Минимальная высота */
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 200px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
}

input[type="submit"] {
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: url(pict/search.png);
    background-repeat: no-repeat;
    margin-top: 5px;
}

ul.menu {
    margin-bottom: 7px;
}
ul.menu li {
    white-space: nowrap;
}

.menu-level1 {
    padding-left: 14px;
    font-size: 13px;
}
.menu-level2 {
    padding-left: 14px;
    font-size: 11px;
}
.menu-level3 {
    padding-left: 14px;
    font-size: 10px;
}

a.menu-item {
    background-image: url('pict/dot7.png');
    background-repeat: no-repeat;
    background-position: 0px 50%;
}

a.menu-sys {
    padding-left: 3px;
    background-color: #a5b991;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a.menu-active:link {
}
a.menu-active:visited {
}
a.menu-active:hover {
}
a.menu-active:active {
}

a.menu-passive:link {
}
a.menu-passive:visited {
}
a.menu-passive:hover {
}
a.menu-passive:active {
}

a.menuitem-auth {
    background-color: #a5b991 !important;
}

a.link-button {
    display: inline-block;
    background-color: rgb(189, 216, 202);
    border-radius: 5px;
    padding: 3px 6px;
    text-decoration: none;
    border: 1px solid rgb(147, 187, 160);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    height: 16px;
    line-height: 16px;
}

a.contlist-edit {
    position: absolute;
    right: 7px;
    top: 7px;
    padding: 2px 5px;
    font-size: 11px;
}

div.contlist-block {
    position: relative;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px; /* same as paragraph */
}

div.contlist-block.odd {
    background-color: rgb(217, 238, 229);
}

p.text {
    padding-top: 0px;
    margin-top: 6px;
    font-size: 12px;
}

/* from news */
.newstitle {
    color: #2f8f4f;
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: bolder;
    text-indent: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.signature {
    color: #000000;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    margin-right: 0px;
}
