$top-menu-height: 40px;

$sidebar-width-collapsed: 3em;
$sidebar-width-expanded: 150px;

$color-dull: #f7f3ff;
$color-light: #edf4fe;
$color-normal: #e6edf7;
$color-stress: #e1e8f2;

$search-bar-z-index: 100;