$top-menu-height: 40px;

$sidebar-width-collapsed: 3em;
$sidebar-width-expanded: 150px;

$color-dull: #f7f3ff;
$color-light: #edf4fe;
$color-normal: #e6edf7;
$color-stress: #e1e8f2;

$search-bar-z-index: 100;

$login-background: rgba(173, 255, 47, 0.56);
$login-triangle_size: 20px;
$login-spacer_height: 5px;
$login-padding: 5px;
$login-max-width: 300px;