.search__result-source {
  font-size: 0.6em;
  vertical-align: center;
  color: grey;
}
.snippet__title_highlight, .snippet__description_highlight {
  background-color: yellow
}
.snippet__description {
  font-size: 0.75em;
}