.side_menu {
    --sm__element_background: #9ccc0d;
    --sm__element_background-hover: #ccca3f;
    --sm__element_border_radius-hover: 100px;
    --sm__element_font_size: 20px;
    --sm__element_padding_left: 2em;
    --sm__element_margin_left: 0px;
    --sm__element_margin_top: 5px;
    --sm__element_margin_right: 5px;
    --sm__element_margin_bottom: 5px;
    --sm_min_width: 15em;
    --sm_background: var(--sm__element_background);
    min-width: var(--sm_min_width);
    background: var(--sm_background);
    align-self: flex-start;
}

.side_menu__element {
    background: var(--sm__element_background);
    border-bottom: solid 1px;
    margin-left: var(--sm__element_margin_left);
    margin-top: var(--sm__element_margin_top);
    margin-right: var(--sm__element_margin_right);
    margin-bottom: var(--sm__element_margin_bottom);
}

.side_menu__element :hover {
    background: var(--sm__element_background-hover);
    -webkit-border-radius: var(--sm__element_border_radius-hover);
    -moz-border-radius: var(--sm__element_border_radius-hover);
    border-radius: var(--sm__element_border_radius-hover);
}

.side_menu__element a {
    text-decoration: none;
    padding-left: var(--sm__element_padding_left);
    display: block;
    font-size: var(--sm__element_font_size);
}