@import "meta/meta";
@import "img/img";
@import "title/title";

.school_card {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  color: black;
}

.school_card--clickable:hover {
  background: calc(15%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}