.sch__dates {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .25);
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sch__dates div {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

